[2015-07-05 17:07] travisbhartwell opened #4 "Spacemacs themes (at least spacemacs-dark) don't work with gnus"
I tried to load up gnus today after switching to spacemacs-dark.  It wouldn't load.  After running `toggle-debug-on-error`, I got this stack trace:

[code]

I load the third party package `google-contacts`, which in turn loads the `gnus-art` library which is part of the gnus distribution.  I don't understand enough of theming to understand what the problem is.  For what it is worth, I was previous

[2015-07-05 17:23] nashamri commented on #4
Thanks @travisbhartwell this should be fixed now :)

[2015-07-05 17:23] #4 closed

[2015-07-05 19:05] nashamri opened #5 "italic face in org"
italic face is not implemented in org.

[2015-07-05 22:22] travisbhartwell opened #6 "Line is too close in Top-Level Face in Org when it is a TODO"
I like the line above top-level items in org-mode.  But it is a little too close when that item is a TODO, as  shown in this screenshot:
![org-mode](https://cloud.githubusercontent.com/assets/10110/8513671/ec03591c-2331-11e5-82a9-d7aa2e52a927.png)

Since the face used for the word TODO or DONE is slightly larger than the rest of the text, it runs into the line and there is a noticeable line break.

[2015-07-06 22:06] nashamri commented on #6
Thanks @travisbhartwell for this. I hope you like the new commit :smile:

[2015-07-06 22:36] nashamri commented on #6
However, another issue that I saw in your screenshot is: the +strike-through+ markup in any heading doesn't respect the style of that heading. I tried other markup (like ~code~ /italic/) and they seem to work as expected. It's only the struck through words. It seems to be a deeper issue not related to the theme after my initial investigation. It could be an issue with Emacs itself.

[2015-07-07 13:33] mistnim commented on #5
After update italic face is not italic but it is now underlined.

[2015-07-08 13:49] mbertheau opened #7 "light on light in git-timemachine micro state mini-buffer"
With the spacemacs-light theme in the git-timemachine micro state there's unreadable yellow on light yellowish gray text in the mini-buffer.

Can't get a screenshot because the text disappears when emacs loses focus :/

To reproduce: `SPC g t`.

[2015-07-08 13:51] mbertheau commented on #7
I'm on master, 0.103.2.

[2015-07-08 14:58] #7 closed

[2015-07-08 15:01] #6 closed

[2015-07-08 15:10] nashamri commented on #5
Turns out this is an issue with the default font of spacemacs "Source Code Pro". It doesn't support italics yet.

[2015-07-08 15:10] #5 closed

[2015-07-11 13:10] nashamri opened #8 "support ediff"
![screenshot from 2015-07-11 14-10-06](https://cloud.githubusercontent.com/assets/1207107/8633841/927e1ac2-27d6-11e5-9b18-259250981289.png)

[2015-07-11 16:59] bmag opened #9 "type face and func face look almost the same"
Using dark GUI variant, functions and types look almost the same:
![spacemacs-dark-before-springgren3](https://cloud.githubusercontent.com/assets/4334375/8634584/d848c23e-2806-11e5-939f-6802271f5a42.png)

I changed locally so that `font-lock-type-face` uses "SpringGreen3", and IMO it looks better:
![spacemacs-dark-with-springgreen3](https://cloud.githubusercontent.com/assets/4334375/8634589/0d6888

[2015-07-11 21:10] #9 closed

[2015-07-11 21:10] nashamri commented on #9
Thanks for reporting this @bmag :+1: got it fixed for both variants.

[2015-07-22 18:23] #8 closed

[2015-07-27 19:45] bmag opened #11 "Faces for tool tips (flycheck-pos-tip, company-quickhelp, etc.)"
The faces `popup-tip-face` and `tooltip` are not handled by spacemacs theme. These faces are used for some popups, such as company-quickhelp and flcyheck-pos-tip (and maybe more). I don't think that the default styles of these faces is bad, but maybe different styles would fit better in spacemacs theme.

company-quickhelp popup (face `tooltip`):
![2015-07-27-221742_666x608_scrot](https://cloud.git

[2015-07-27 19:48] nashamri commented on #11
:+1: thanks @bmag  for reporting this. I'll work on it, hopefully tomorrow.

[2015-07-27 20:23] nashamri opened #12 "support perspective"
Face name is probablt: `persp-selected-face`

![68747470733a2f2f692e696d6775722e636f6d2f6f567436544e4b2e706e67](https://cloud.githubusercontent.com/assets/1207107/8916778/a8a5a654-34a5-11e5-9745-f77bab597d87.png)
![68747470733a2f2f692e696d6775722e636f6d2f315849335470372e706e67](https://cloud.githubusercontent.com/assets/1207107/8916779/a9d47dde-34a5-11e5-9a8e-ece3e56da7bb.png)

[2015-07-28 09:02] #12 closed

[2015-07-28 09:39] nashamri commented on #11
`company-quickhelp` doesn't seem to be inheriting from `tooltip`. I've tested that on `develop` and `0.103.2` and I couldn't find that face.

[2015-07-28 09:54] nashamri commented on #11
It seems that `company-quickhelp` is using this package `pos-tip` to create the popup. And if no face is set for that package, it falls back to the `tooltip` face.

More info here:
https://github.com/pitkali/pos-tip/blob/master/pos-tip.el#L542
https://github.com/pitkali/pos-tip/blob/master/pos-tip.el#L554

More investigation :smile:

[2015-07-28 09:57] nashamri commented on #11
Yup! when I set `(setq pos-tip-background-color "#ff0000")` it does indeed change the background of the quickhelp tooltips.

[2015-08-01 12:20] d12frosted opened #13 "structured-haskell-mode support"
Hi, I really like this theme and would like to see out-of-box support of [structured-haskell-mode](https://github.com/chrisdone/structured-haskell-mode). Long story short - only two variables need to be configured:

* `shm-current-face`
* `shm-quarantine-face`

First one is like line highlight and second face is used to highlight errors.

I added following block in `custom-theme-set-faces`:

[code

[2015-08-05 20:29] beardedprojamz opened #14 "Keys & Values are the same color in yaml mode"
I think it's because variables look to be the same color as values. I don't know the best way to avoid this, but it'd make YAML files more readable.

<img width="129" alt="screen shot 2015-08-05 at 3 29 12 pm" src="https://cloud.githubusercontent.com/assets/877908/9097051/c185bc1c-3b86-11e5-82da-18b96ed6b16b.png">

Thanks for the Spacemacs theme!

[2015-08-06 16:15] calebmeyer opened #15 "Add activation information to readme"
I'm brand new to emacs, and I think your theme looks awesome! I ran the install instructions, but that didn't change my syntax highlighting. Can you add instructions for both trying out and permanently setting these themes? If it makes a difference, can you also add instructions for spacemacs?

[2015-08-08 07:23] d12frosted commented on #13
Any update on this?

[2015-08-08 12:44] nashamri commented on #13
Sorry for being late, I'll work on it soon.
I'm a little busy these days.

On Sat, Aug 8, 2015, 8:23 AM Boris <notifications@github.com> wrote:

[2015-08-09 08:14] d12frosted commented on #13
Oh, everything is fine. Take your time. :smile:
Sorry for bothering!

[2015-08-10 05:14] ahmadseleem opened #16 "I can't use your theme as an extension anymore ..."
I think it was the last update of spacemacs who broke it...
does anyone have the same problem ?

[2015-08-10 22:26] nashamri commented on #16
Hey @ahmadseleem I was away for couple of weeks and I'm not on top of things. I know that spacemacs changed something about the way it works with packages. I read it in their gitter channel some days ago. It might be intentional not to use "extensions" any more and stick to packages only, but I need to investigate it a bit more.

[2015-08-10 23:40] nashamri commented on #16
@ahmadseleem this is a quote of the message from sylvian regarding the extension:
"@/all I pushed to develop the long awaited new package lists, the spacemacs layer has been updated accordingly so `extensions.el` does not exist anymore for this layer, `packages.el` now contains everything."

So I guess it's intentional :smile:

[2015-08-10 23:46] nashamri commented on #16
I'm wondering why you want to use it as an extension, though?
If you are on `develop` the theme is already part of the core packages of spacemacs and it pulls the latest updates from MELPA.

[2015-08-11 01:03] ahmadseleem commented on #16
got you! but, I'm not  on develop. how do I switch to develop. I just use emacs for some languages but, mainly using Atom with vim-mode. that's why I had no time to read everything about spacemacs. I just wanted to get the job done as I use to use Emacs:
https://github.com/ahmadseleem/ViMacs

I used to collect these configs last year before Spacemacs  got popular. but, then I forward people to use

[2015-08-11 01:04] ahmadseleem commented on #16
here's the link:
https://github.com/ahmadseleem/ViMacs/tree/master/elpa/color-theme/themes

[2015-08-11 01:27] ahmadseleem commented on #16
It works now as a package. cool! thanks!

What do you think about making line-numbers light gray and it's background as the main back ground ?

[2015-08-11 01:30] ahmadseleem commented on #16
also, I do like the new very green bg of comments :+1:

[2015-08-11 01:42] ahmadseleem commented on #16
like that for example:
;;;;; linum-mode
     `(linum ((,class (:foreground "#ACAEAE" :background ,bg1))))

[2015-08-11 02:06] #13 closed

[2015-08-11 02:06] nashamri commented on #13
Many apologizes for the delay :smile:

[2015-08-11 02:48] #14 closed

[2015-08-11 02:51] nashamri commented on #14
Many apologize for the delay. This issue is actually an issue with the *variables* face. `yaml-mode` uses the `font-lock-variable-name-face` for the keys in yaml files. So, this should make variable name standout a bit more in any mode.

Thanks for reporting this @beardedprojamz!

[2015-08-11 03:29] beardedprojamz commented on #14
Thank you! :clap:

[2015-08-11 04:17] d12frosted commented on #13
Many thanks! This is great.

[2015-08-11 05:14] swaroopch opened #17 "Please make org agenda headings respect `spacemacs-theme-org-height`"
The Org Agenda looks misaligned in the otherwise-beautiful Spacemacs theme, can you please make the `org-agenda-date*`, etc. respect the `spacemacs-theme-org-height` flag, which would make org agenda usable with the spacemacs theme. Thanks!

[2015-08-11 08:25] d12frosted commented on #13
After some time using it I would like to thank you again. Colours are great!

[2015-08-11 10:08] nashamri commented on #13
I'm glad you like it :)

On Tue, Aug 11, 2015, 11:25 AM Boris <notifications@github.com> wrote:

[2015-08-12 18:51] nashamri commented on #16
Hey @ahmadseleem, to check `develop` of spacemacs, all you need to do is go to your `.emacs.d` dir and checkout the `develop` branch.

As for the line-numbers, I remeber we had a discussion about it in spacemacs gitter room and this commit was the result of that discussion https://github.com/nashamri/spacemacs-theme/commit/003e1d60d9b2086c4bbbf0f5dab47df0a5c36928

So I don't want to change it agai

[2015-08-12 18:54] ahmadseleem commented on #16
Cool! thanks Nasser!

[2015-08-12 18:55] nashamri commented on #15
Thanks @calebmeyer :smile:
I'll try to add more info to how to install the theme. But if you followed the instructions already there, it should work. Not having syntax highlighting could be because you didn't activate a major mode for the file you are editing. For example, if you are editing an elisp file, you need to activate the `emacs-lisp-mode` by `M-x emacs-lisp-mode` to get syntax highlighti

[2015-08-12 18:56] nashamri commented on #16
You are welcome ahmad, I'm going to close this issue now :smile:

[2015-08-12 18:56] #16 closed

[2015-08-12 18:58] calebmeyer commented on #15
Thanks for getting back to me! I eventually figured out that I just needed to move the theme to the top of the list in my `~/.spacemacs` to activate it.

[2015-08-12 20:44] nashamri commented on #15
oh that's good. I'm sorry for being late, I was really busy for the last two weeks or so.
Closing this issue for now :smile:

[2015-08-12 20:44] #15 closed

[2015-08-13 18:19] rymndhng opened #18 "Light theme hs poor visibility for branch names in magit"
Light theme doens't have good visibility of branch names compared to the dark theme. See:

![screen shot 2015-08-13 at 11 15 27](https://cloud.githubusercontent.com/assets/1694040/9257863/fef73126-41ac-11e5-8e63-e663e15e71e9.png)

![screen shot 2015-08-13 at 11 15 41](https://cloud.githubusercontent.com/assets/1694040/9257873/0c6de0fc-41ad-11e5-948a-7a36a8d2125e.png)

[2015-08-13 20:50] #17 closed

[2015-08-13 20:52] nashamri commented on #17
Thanks @swaroopch, I've fixed this. Although, I'm thinking of making all org-agenda headings fixed in size. The varying headings heights of the agenda view might be a bit distracting. What do you think?

[2015-08-13 21:06] nashamri commented on #17
It probably will take couple of hours for MELPA to reflect the changes.

[2015-08-13 21:08] nashamri commented on #18
Yes, the light version has lower contrast compared to the dark one. Working on it.

[2015-08-13 21:09] nashamri commented on #18
Just a quick question, are you on `develop` or on the stable `0.130`?

[2015-08-13 21:47] rymndhng commented on #18
I use the one on MELPA, so that should be master? I made the screenshots after pulling the latest (3 hrs ago).

[2015-08-13 21:50] nashamri commented on #18
Oh okay. I actually meant for spacemacs starter kit not spacemacs-theme. I thought you were using spacemacs because the develop version uses magit 2.1 and they changed some faces in 2.2 :smile: no worries, i'll fix this now.

[2015-08-13 22:21] #18 closed

[2015-08-13 22:21] nashamri commented on #18
Wait for MELPA to reflect the changes and tell me what you think :smile:

[2015-08-14 03:51] rymndhng commented on #18
Thanks, it much better now. Cheers

[2015-08-26 05:27] bmag commented on #11
Well, the current situation works for me, so thanks.

[2015-08-26 05:27] #11 closed

[2015-09-03 17:00] bmag opened #19 "Face for highlight-indentation-mode is invisible"
highlight-indentation-mode is supposed to show the indentation level of each line by giving a different background to some of the whitespaces in the beginning of each line.
In spacemacs-theme, these visual clues are invisible. That's because `highlight-indentation-face` inherits from the fringe's face, but in spacemacs-theme that's the same face as the regular background. Hence, the "highlighted"

[2015-09-03 18:00] #19 closed

[2015-09-03 18:00] nashamri commented on #19
Thanks @bmag :+1:

[2015-09-30 09:08] fladd opened #20 "Python highlighting"
The theme is suboptimal for Python highlighting.

Please see https://github.com/syl20bnr/spacemacs/issues/3195 for more details and screenshots.

[2015-09-30 09:12] fladd commented on #20
I am also curious to learn why the official screenshot of the new Spacemacs release, shows Python highlighting with completely different colours?
https://raw.githubusercontent.com/syl20bnr/spacemacs/master/doc/img/spacemacs-python.png

[2015-09-30 09:18] robbyoconnor commented on #20
Because of [this](https://github.com/syl20bnr/spacemacs/tree/develop/layers/colors). Specifically [rainbow-identifers](https://github.com/Fanael/rainbow-identifiers). I linked to `develop` but the same codebase is found in `master`.

I figured i would post here as well.

[2015-09-30 09:19] fladd commented on #20
Yes, thanks.

The original issue with the default colours still persists, though.

[2015-09-30 16:01] nashamri commented on #20
Thanks @fladd @robbyoconnor yeah I was wondering why the screenshot looks like that.
I'll fix this issue with python highlighting soon :smile:

[2015-09-30 18:00] nashamri commented on #20
@fladd hope you like the new changes :smile: it will take a bit for MELPA to see the changes.

[2015-10-01 22:57] fladd commented on #20
@nashamri It is a bit better, however, there are still two things:

1) Comments and strings look almost identical (I don't know if this is by intention, but it feels weird)

2) Line numbers are now much too dark (I can barely see them against the black background).

[2015-10-02 15:24] nashamri commented on #20
@fladd yeah I guess you are right about the line numbers. I've made them a bit more visible now.
For the comments vs string colors, the idea was to have the comments more blue-ish and the strings more green. I've tweaked them too so let me know what you think of the new change now.

[2015-10-02 20:00] fladd commented on #20
@nashamri Yes, it is definitely getting better! The colour composition still feels a bit restless to me, though. Cannot really say why, unfortunately.

[2015-10-02 20:10] nashamri commented on #20
@fladd Is that only in the dark variant or even for the light variant too?

[2015-10-02 20:20] fladd commented on #20
@nashamri To be honest, it is a bit worse on the light one. It lacks contrast somehow. As if the colours do not really come through, in comparison to the backgrounds while/beige.

[2015-10-02 20:22] nashamri commented on #20
@fladd hehehe okay I might give it another try. Thanks for the feedback :+1:

[2015-10-02 20:58] fladd commented on #20
@nashamri Sure, glad to help...hope this does help...I like the idea of a dedicated Spacemacs theme for this amazing editor :-)

[2015-10-03 23:27] fladd commented on #20
@nashamri I just realized that the comments in the light version are still green. Shouldn't all colours be consistent between the two versions of the theme? Or isn't that the idea?

[2015-10-04 11:15] nashamri commented on #20
@fladd Actually the two variants have two sets of color schemes. It's not just the background that changes. Hmmm, I'm pretty sure the strings and comments are different but it might be less apparent in the light version.

There's an option that might help with comment lines contrast. It's called `spacemacs-theme-comment-bg` it's on by default, try messing with it in `M-x customize` and see if it h

[2015-10-04 16:31] fladd commented on #20
@nashamri Yeah, it would be nice to have a readable and dissociable highlighting right out of the box, without having to mess with `M-x customize`. Concerning the background of the comments, this could also be a bit stronger in general, as it would additionally help to quickly detect comments.
Keep up the great work!

[2015-10-06 07:22] xuchunyang opened #22 "[Helm] Marked candidates are not visible"
For example, here is the screenshot when using GUI Emacs with spacemacs-dark theme enabled (mark first four candidates and select third candidate, i.e., `*Message*`)
![2015-10-06 3 04 28](https://cloud.githubusercontent.com/assets/4550353/10302205/ac1f0e96-6c3c-11e5-9af4-ba03d96433e0.png)

here is the one under the same condition but without using any theme

![2015-10-06 3 05 40](https://cloud.git

[2015-10-06 08:51] nashamri commented on #22
Yup indeed that one needs a fix. Working on it! thanks for catching this one @xuchunyang :smile:

[2015-10-06 09:01] #22 closed

[2015-10-06 09:15] xuchunyang commented on #22
Looks much better! Thanks.

[2015-10-06 09:17] nashamri commented on #22
No! thank you for reporting this :+1:

[2015-10-09 10:41] rpls opened #25 "Highlighting inside of new parenthesis blocks highlighting of selection"
When creating a parenthesis with smartparens, the insides will be highlighted until the cursor exits. This highlighting overlays the selection face background. See example below (made in c-mode, but other modes have this problem as well).

![2015-10-09-120757_4160x1440_scrot](https://cloud.githubusercontent.com/assets/751884/10391385/ddc117c0-6e7e-11e5-9c1e-a79503007ec2.png)

The corresponding fac

[2015-10-09 15:03] nashamri commented on #25
Thanks @rpls for reporting this. This needs fixing, and not intentional. I'll try to fix this later today, hopefully :smile:

[2015-10-09 15:13] rpls commented on #25
Nice, thanks. But this is a weird issue. When I change the face, e.g. by setting a lighter background color, the issue doesn't go away. If I clear all the face settings, the issue still doesn't go away. And pretty much all the themes I tested have this problem. This might have something to do with how `smartparens` highlights this. But maybe there is a special face setup which works correctly...

[2015-10-09 15:21] nashamri commented on #25
It could be something in `smartparens` or it could be the way emacs merges multiple faces. I need to investigate this to see what's going on here :smile:

[2015-10-09 15:44] nashamri commented on #25
@rpls Just messed a little bit with it and it looks like there's some sort of conflict between `sp-pair-overlay-face` and the `region` face. When you select something emacs applies the `region` face to the selected region. And `sp-pair-overlay-face` takes precedence and applies its background instead of the `region`'s background. So this issue might be resolvable upstream in the `smartparens` mode

[2015-10-15 15:44] xuchunyang opened #26 "org agenda clocking entry is not visible (that should be `org-agenda-clocking' face)"
With default theme of graphic Emacs, clocking entry is very obvious (yellow background):

![2015-10-15 11 37 45](https://cloud.githubusercontent.com/assets/4550353/10518965/3d0114b2-7396-11e5-8c75-7896a68c19cc.png)

but with spacemacs-dark, it isn't (actually I don't know which one is clocking):

![2015-10-15 11 38 24](https://cloud.githubusercontent.com/assets/4550353/10519023/6f57bdb2-7396-11e5-

[2015-10-15 19:05] nashamri commented on #26
:+1: I'll fix this, thanks @xuchunyang

[2015-10-15 19:19] nashamri commented on #26
I'm not an avid org user, so you feedback is important to me. I've noticed that in the screenshot with the default theme, all the entries are normal weight (not bold), where in spacemacs-theme some are bold and some are not. I think that needs some fixing (making all the entries normal), what do you think?

[2015-10-16 05:05] xuchunyang commented on #26
Thanks for the fix, it works nicely.

Actually I even didn't notice that.

Agree. Personally I prefer less bold unless it is really necessary, in this case, different types of entries has already stated in different foreground or background colors.

[2015-10-16 05:35] xuchunyang commented on #26
I have done this in RP #27.

[2015-10-16 11:34] nashamri commented on #26
Brilliant! thanks :+1:

[2015-10-16 11:34] #26 closed

[2015-10-21 16:39] d12frosted opened #29 "Theme for terminals (not related to emacs)"
Hey, I like your themes so much that I want to use them in terminal. So it would be cool to have themes for `Terminal.app`, `iTerm2.app` etc terminal emulators. Probably this is not the right place for this feature request, but since this is the only repo related to `spacemacs-theme`, here we go :smile:

[2015-10-21 17:57] nashamri commented on #29
Hey @d12frosted thanks for the kind words :smile:
That's a good idea, the only problem is that I don't use OS X :smile:
I might get my hands on a mac soon and play with that.
You can join the gitter room of spacemacs-theme to discuss stuff like this
https://gitter.im/nashamri/spacemacs-theme

[2015-10-21 19:11] d12frosted commented on #29
Ah. I hope that you'll get one soon :smile:

Oh great, you have a gitter room. Joining!

[2015-11-25 19:51] nashamri commented on #29
@d12frosted I got an old macbook air :smile: hopefully I'll make a theme for the terminal app.

[2015-12-01 13:00] dotneter- opened #30 "Is there any simple way to customize some colors?"
I would like to change some colors, something like

[code]
Can I somehow do this?

[2015-12-01 13:12] nashamri commented on #30
Maybe you could do something like this in your `.spacemacs` file (I'm assuming you are using spacemacs :) )
`(custom-theme-set-faces 'spacemacs-dark '(default ((t (:background "#ff0000")))))`

where `default` is the face you want to change.

[2015-12-01 13:31] dotneter- commented on #30
I don't want to change the faces. I want to use this theme's infrastructure and change only its colors, so it can use them to change faces.

[2015-12-01 14:46] nashamri commented on #30
Oh I see. I'm not sure that's possible currently since all the colors are locally bounded in the `create-spacemacs-theme` function. I'll report back here if I found anything useful or if I could implement something to make this possible.

[2015-12-01 18:05] dotneter- commented on #30
I am not really good with lisp, but I think it could be implemented like this

[code]
and I can use dictionaryWithColors in ```create-spacemacs-theme```

[2015-12-02 23:34] nashamri commented on #30
I think I found a way to achieve that and it should be as simple as calling a function and pass in a list of colors that you want to override. I just want to double check the new code to make sure it's not breaking anything. Stay tuned :smile:

[2015-12-05 18:46] nashamri commented on #30
Sorry it took me sometime to do this. But I did a some what major change and refactoring and cleaning.
Just check https://github.com/nashamri/spacemacs-theme#override-themes-colors to achieve exactly what you requested :smile:

[2015-12-05 19:09] nashamri commented on #20
@fladd hey! I made a rather big change to the theme and it can easily now solve this string issue.

Just put this in your `dotspacemacs/user-init`, if you are using spacemacs:
[code]
And customize it as you wish :smile:
More info https://github.com/nashamri/spacemacs-theme#override-themes-colors

[2015-12-06 09:34] dotneter- commented on #30
It works, thanks.

[2015-12-06 09:34] #30 closed

[2015-12-06 11:07] dotneter- commented on #30
Is it possible to apply changes of ```spacemacs-theme-custom-colors``` without restarting emacs?

[2015-12-06 14:13] nashamri commented on #30
@dotneter- if you want to experiment with the changes without restarting emacs, I think you can do the following:

1- Open up the `spacemacs-common.el` file which is part of spacemacs-theme package. You'll find it in your `~/.emacs.d/elpa/spacemacs-theme-xxxxxxxxx` folder.
2- Open a scratch buffer and set it to `emacs-lisp-mode`
3- Type something like this `(custom-set-variables '(spacemacs-theme-

[2015-12-06 19:43] nashamri commented on #25
@rpls This issues seems outside the scope of the theme. I've tested many famous themes and they all exhibit the same issue. So it could be a smartparen issue and need to be reported upstream. https://github.com/Fuco1/smartparens

[2015-12-07 09:01] rpls commented on #25
Thanks for looking into it. I couldn't find any related issue in their tracker, so I opened one.

[2015-12-07 09:41] dotneter- commented on #30
thanks

[2015-12-07 11:42] Fuco1 commented on #25
I don't understand the issue here.  This is a feature of smartparens to highlight "active" blocks, you can disable it if you don't want that, there's a setting for it.

What exactly should I fix?

[2015-12-07 11:48] rpls commented on #25
@Fuco1 The highlighting of the active codeblock blocks the highlighting of a selection. E.g. if i'm still in an active block and select something, all visual feedback concerning the selection/region is not visible. See for example the screen shot in the initial issue the word "Something" is selected, but this isn't visible at all. I don't know enough about faces in emacs, but as @nashamri describe

[2015-12-07 17:26] Fuco1 commented on #25
Well that's not possible.  Overlays take precedence.

What is weird is that you see the SP highlight even when you do action other than insertion.  Probably some misconfiguration somewhere.

[2015-12-08 13:37] rpls commented on #25
Maybe it's a weird side effect of `evil`?

[2015-12-08 13:52] nashamri commented on #25
Maybe this info will help.

I've noticed that the `solarized-light` theme does show the selected lines differently.
![selected-not](https://cloud.githubusercontent.com/assets/1207107/11657182/acb8942e-9db2-11e5-84a0-afab75c0c9af.png)

However, when I do `list-faces-display` and look for the faces that smartparens use, I don't see that bold face. It might not be even an issue with smartparens.
![li

[2015-12-10 10:04] #20 closed

[2015-12-25 22:41] jordwalke opened #31 "Flycheck tooltip flickers white before showing error."
On dark colorschemes, the flycheck tooltip flickers white momentarily before showing the more pleasing colors. It's very distracting. Do you know what's causing this?

(I'm using the mac port of emacs).

[2015-12-25 23:12] jordwalke commented on #31
Note, this is only with `flycheck-pos-tip`.

[2015-12-27 13:05] nashamri commented on #31
Does this only happen with `spacemacs-dark`? Could it be related to this https://github.com/nashamri/spacemacs-theme/issues/11?

[2016-01-06 18:13] bogdanteleaga opened #32 "Theme looks weird in terminal"
Hey,

Spacemacs is getting more and more usable in terminal mode and I got used to this theme, but it shows some problem when ran in terminals. I'll attach some pictures.

![Spacemacs Dark](https://i.imgur.com/xERAS5V.jpg)
![Monokai](https://i.imgur.com/bTxe3ne.jpg)

Probably worth it to mention I'm using this code to get transparency
[code]

I did try to restart it and the top line changes from b

[2016-01-06 18:18] nashamri commented on #32
From the screenshots it seems like the problem is only in the comment lines.
Maybe if you turn off the comment line background it will fix the issue.
https://github.com/nashamri/spacemacs-theme#customization
Just set `spacemacs-theme-comment-bg` to `nil`

[2016-01-06 18:29] bogdanteleaga commented on #32
Nope, that doesn't do it.

[2016-01-06 18:32] nashamri commented on #32
Oh okay :smile: I'll look into it tomorrow, hopefully.
Are you running OS X? and what's your terminal emulator?

[2016-01-06 18:38] bogdanteleaga commented on #32
Hmm, I changed something in the code I pasted above and it seems to work correctly now. All I did was make it take frame as an argument instead of calling selected-frame inside. But it works! The wonders of software :)

Thanks for the fast replies though.

[2016-01-06 18:38] #32 closed

[2016-01-06 18:39] nashamri commented on #32
hehe okay awesome! happy hacking!

[2016-01-10 06:56] syl20bnr opened #34 "Support for swiper/ivy faces"
Spacemacs now supports Ivy, the default blueish colors are not very readable.

Note: Ivy blends the colors of the highlight (i.e. when doing a search with SPC /) and the current line.

[2016-01-10 23:32] nashamri commented on #34
I'm not sure if supporting ivy implies supporting swiper or not :smile: so I'm leaving this open till I do better testing.

[2016-01-11 02:52] syl20bnr commented on #34
Oops I meant swiper yes, my bad.

There is an issue with the new colors, I suggest to use the background colors and find some colors that blend well together. Without the background color it makes it hard to see the occurrences with `SPC s s` like in the screenshot below:

![capture d ecran 2016-01-10 a 21 49 01](https://cloud.githubusercontent.com/assets/1243537/12226073/4bef57c6-b7e4-11e5-91b0-d

[2016-01-12 21:16] nashamri commented on #34
Oh, are you talking about these colors? (highlighted in red)

![4bef57c6-b7e4-11e5-91b0-dbe121ea38dd](https://cloud.githubusercontent.com/assets/1207107/12277083/7e9cd250-b971-11e5-8cf8-076121261841.png)

This week and probably the next one are a bit busy for me, so sorry for the late responses :smile:

[2016-01-13 00:05] nashamri commented on #34
There are a lot of inconsistencies between the different searching packages. This needs an overhaul :smile:

[2016-01-13 00:37] syl20bnr commented on #34
Nope I mean the one in the swiper mini buffer. Actually I'm asking for
background colors like in the upper buffer (and like default swiper faces)

Le mardi 12 janvier 2016, Nasser Alshammari <notifications@github.com> a
écrit :

--
-syl20bnr-

[2016-01-15 21:15] nashamri commented on #34
Now it should be fix :smile: @syl20bnr let me know if you think it's still not fully solved.

[2016-01-16 09:02] nashamri commented on #34
Something I noticed from the screen shot, you have rainbow delimiters on. It might be interfering with swiper.

[2016-01-17 03:31] syl20bnr commented on #34
It's OK with your last modifications, I pushed a tweak in Spacemacs to remove the blending performed by Ivy because with the dark variant it was hiding occurrences in the current line.

I feel that there is too much contrast for the current line faces with `mat` and `bg3`, but I tweaked the colors during 3 hours yesterday and I did not find anything satisfying!

Thanks for the updates :+1:

[2016-01-17 15:28] nashamri commented on #34
Tweaking these things is a real time sink :smile: I'll probably give it another go.

[2016-01-17 16:20] syl20bnr commented on #34
There are some regressions with the last modifications:

evil persistent highlighting is yellow:

![capture d ecran 2016-01-17 a 11 18 21](https://cloud.githubusercontent.com/assets/1243537/12378456/1d3d960e-bd0c-11e5-95d3-5a54c2b9e010.png)

In helm the current line make it hard to see the occurrence:

![capture d ecran 2016-01-17 a 11 19 28](https://cloud.githubusercontent.com/assets/1243537/1237

[2016-01-17 16:40] nashamri commented on #34
@syl20bnr just pushed an update that should make the situation a bit better. I'm not sure why evil persistent highlighting looked like that. It should only change the background color to `highlight`.

[2016-01-18 02:32] syl20bnr commented on #34
:purple_heart:

[2016-01-21 20:34] nashamri commented on #34
I gave this another shot :smile: and this is the results so far, which one do you think is better? Underlined or not?

![d](https://cloud.githubusercontent.com/assets/1207107/12493683/08b6c60e-c07e-11e5-8ebd-611bc0a933f8.png)
![dark](https://cloud.githubusercontent.com/assets/1207107/12493681/08b57dd0-c07e-11e5-94d3-517e4c7f67e8.png)
![l](https://cloud.githubusercontent.com/assets/1207107/12493682

[2016-01-21 20:36] syl20bnr commented on #34
Wow it's really nice! I prefer with the underline, it allows to remove some
possible ambiguity.

Great job!

Le jeudi 21 janvier 2016, Nasser Alshammari <notifications@github.com> a
écrit :

--
-syl20bnr-

[2016-01-21 20:38] nashamri commented on #34
The underlined one it is! It was the one that I thought the most readable.

[2016-01-28 14:12] scloudyy opened #35 "emacslient background"
I use spacemacs with spacemacs-dark, and when use "emacsclient -t" in terimal, the darkground is too dark, so which variable should I modify to change the background? I have tried bg1, bg2, bg3, bg4, but they all useless.
![qq 20160128220938](https://cloud.githubusercontent.com/assets/15358886/12646603/0f0b9faa-c60c-11e5-85fc-0ea44deac678.png)

[2016-01-28 14:48] scloudyy commented on #35
I read the src code just now, and notice that the GUI and terminal has the different color, so , how can I override terminal color in dotspacemacs/user-init ()? @nashamri

[2016-01-28 19:24] nashamri commented on #35
Hey @scloudyy,
Have you tried this https://github.com/nashamri/spacemacs-theme#override-themes-colors
I think you only need to override `bg1`. So basically, something like this:
`(custom-set-variables '(spacemacs-theme-custom-colors
                          '((bg1 . "#222222"))))`

[2016-01-29 01:32] scloudyy commented on #35
Yes, I have tried, but it seems doesn't. If I change bg1 to green, something under the background is changed to green, but background is still black, bg3, bg4 all the same.
![qq 20160129092853](https://cloud.githubusercontent.com/assets/15358886/12664530/36c315c8-c66b-11e5-82e7-b3face5875bd.png)

[2016-01-29 13:07] nashamri commented on #35
Okay that's weird :smile: I'll look into it tonight.

[2016-01-30 14:08] scloudyy commented on #35
@nashamri
Is there any results of this problem? Or do you need more information?

#### System Info
- OS: gnu/linux
- Emacs: 24.5.3
- Spacemacs: 0.105.9
- Spacemacs branch: develop (rev. 72e1413)
- Distribution: spacemacs
- Editing style: hybrid
- Completion: helm
- Layers:
[code]

Put this code to dotspacemacs/user-init()
[code]
At the begining of load
![qq 20160130220234](https://cloud.githubuser

[2016-01-30 20:59] nashamri commented on #35
Thanks @scloudyy for the additional info. I'm not sure why it's behaving like this with you. I tried it on my end and it working fine.

![screenshot from 2016-01-30 20-43-32](https://cloud.githubusercontent.com/assets/1207107/12698340/4b1301e6-c792-11e5-8e96-ddcb089a20b3.png)

Can you try running this in your shell before starting `emacsclient -t`:
`export TERM='xterm-256color'`

Sorry for being l

[2016-01-31 15:19] scloudyy commented on #35
After I reinstalled my spacemacs, it seems fine now!
Thank you for your help! @nashamri

[2016-01-31 15:45] nashamri commented on #35
Oh great! @scloudyy
Happy spacemacsing with custom colors! :smile:

[2016-01-31 15:45] #35 closed

[2016-02-09 22:39] railwaycat commented on #29
This is an interesting idea.

Not sure for iTerm2, but a Terminal.app theme usually request following colors:

----

Text: text | bold text | selection

ANSI colors(normal and bright): black | red | green | yellow | blue | magenta | cyan | white

Background: background color

Cursor: cursor color

----

text, selection(region in Emacs), cursor and background color could easily found in theme file.

[2016-02-22 19:46] rougier opened #37 "bold t vs inherit bold"
Would it be possible to replace all the `:bold t` and `:weight bold` by `:inherit bold`?

I'm using "Source Code Pro Light" for the main font and thus the bold face is "Source Code Pro Regular". Being able to specify the `bold` face for all faces that use it would be great. I can make a PR if necessary.

I think it won't change anything visually unless someone changed the `bold` face.

[2016-02-24 16:58] nashamri commented on #37
@rougier Yeah sure, this seems like a good idea. Let me experiment with it a bit and I'll push an update :smile:

[2016-02-24 17:39] nashamri commented on #37
@rougier Everything seems fine with this change. If you are using the package through MELPA, just give it a moment to be picked up.

[2016-02-24 17:44] gguimaraesbr commented on #29
here: https://github.com/chriskempson/base16-builder/pull/345

[2016-02-24 19:28] rougier commented on #37
Nice, thank you.

[2016-02-24 19:28] #37 closed

[2016-02-24 20:18] nashamri commented on #29
@gguimaraesbr that's great :smile: :+1: thanks for this!

[2016-02-24 20:22] nashamri commented on #34
@syl20bnr I think this one is resolved :smile: I'm going to close it for now, but don't hesitate to comment on it if something comes up.

[2016-02-24 20:22] #34 closed

[2016-02-24 20:29] nashamri commented on #29
@gguimaraesbr how about making 2 of these :smile: one for the dark variant and one for the light variant?

[2016-02-24 20:40] gguimaraesbr commented on #29
@nashamri actually it's already provided by the base16-builder itself (each scheme creates both variants).

[2016-02-24 20:58] nashamri commented on #29
@gguimaraesbr Super! thanks a lot for this :smile: but I'm wondering how it can achieve this? if it inverts some of the colors to get the other variant, then the result might not be similar to spacemacs-theme. Because the variants aren't the exact inverse of each other.

[2016-02-24 21:17] syl20bnr commented on #34
Thank you !

[2016-02-24 21:31] nashamri commented on #29
![base16](https://cloud.githubusercontent.com/assets/1207107/13301484/0ea7195e-db3d-11e5-8578-b5ff23346dbc.png)
I managed to run it and install gnome-terminal profile. The dark vairant is great and the light one is almost there :smile: the background color is a bit off (see the screenshot :point_up_2:) but I don't think this is a big deal since that tool supports that many applications.

[2016-02-24 21:38] nashamri commented on #29
![base16-2](https://cloud.githubusercontent.com/assets/1207107/13301811/b7f677d8-db3e-11e5-9873-d5880641927d.png)
Actually it's quite similar to spacemacs-light when using spacemacs in the terminal. So scratch what I said about the background being a bit off :+1: well done.

[2016-02-24 22:12] gguimaraesbr commented on #29
Thanks! I tried to be loyal to the colors you used but base16-builder has its own way to generate the output files. The upside is that it supports a lots of tools... ;)

[2016-02-26 17:08] darkfeline opened #40 "dark theme :s face"
When doing a `:s/foo/bar/` style command, Evil will highlight both the deleted and replacement text accordingly. However, the deleted text isn't visibly changed when using Spacemacs's dark theme.

This is only a problem if you use visual mode to select text and use `:<',>'s` because the visual selection face is the same as the deleted text preview.

Simply doing a `:%s`, for example, this isn't a

[2016-02-28 12:04] nashamri commented on #40
![bug40](https://cloud.githubusercontent.com/assets/1207107/13379055/4194dc06-de13-11e5-9b6b-1f6e463c0c3d.png)

Thanks for reporting this @darkfeline I think I fixed it now. Wait for MELPA to reflect the changes.

[2016-02-28 12:05] #40 closed

[2016-02-28 16:11] user471 opened #41 "Region selection and search highlight"
If you search `/foo`, it would be highlighted like this
![1](https://cloud.githubusercontent.com/assets/5988253/13380206/a2628cbe-de4e-11e5-929e-a7796a9245d1.png)
But region selection have the same color, so highlights aren't visible.

![2](https://cloud.githubusercontent.com/assets/5988253/13380210/a5d36a4e-de4e-11e5-9d7e-3801e4fb1810.png)

The main problem is replacing in region. When you select

[2016-02-28 16:19] nashamri commented on #41
Hey @user471 this has already been fixed in #40.
Just give it a minute so that MELPA pick up the fix.

[2016-02-28 16:24] user471 commented on #41
thanks

[2016-02-28 16:24] #41 closed

[2016-03-04 05:08] zzp0 opened #42 "Cannot load spacemacs-theme by use-package"
[code]
*Messages buffer* shows `Cannot load spacemacs-theme`
p.s. I just use *emacs-mac port* without *spacemacs kit*

[2016-03-04 06:19] xuchunyang commented on #42
You can use the following instead:

[code]

`:defer t` will prevent requiring `spacemacs-theme`, which doesn't exist, `:config ...` will run some code after `spacemacs-theme` (a non-existent feature) is required.  And since `use-package` doesn't look very meaningful here, also consider to just use `(load-theme 'spacemacs-dark t)`.

[2016-03-04 13:19] zzp0 commented on #42
@xuchunyang Thank you for your reply. But it didn't work, theme not loading completely, using default theme instead.

[2016-03-04 14:33] xuchunyang commented on #42
Did you mean something like this?

![screen shot 2016-03-04 at 22 18 43](https://cloud.githubusercontent.com/assets/4550353/13529445/38f935e0-e257-11e5-9d63-fcf7bde0aef3.png)

I encounter this if I have `desktop-save-mode` on and enable spacemacs-dark from init.el but then disable it in Custom Themes (M-x customize-themes).

[2016-03-05 12:39] #42 closed

[2016-03-25 22:03] adrsta opened #43 "custom-set-variables changes both dark and light themes"
I like both spacemacs themes a lot, and I use them interchangeably.
My only problem is that the background in the dark theme is too light.
So I have put this in my spacemacs/user-init():  (according to the README)
[code]
And it solves the problem, but also creates another one because the light theme has the same dark background now :(

[2016-03-25 22:44] nashamri commented on #43
@adrsta glad you like the themes :smile:
The issue that you are having isn't a bug, it's the current implementation and you are right, it causes a problem when you are using both themes. I'll try to figure something out about this :+1:
Thanks for reporting this! :smile:

[2016-03-26 01:52] adrsta commented on #43
I figured another way (maybe you can recomment that in the README).

I used `theming` layer from spacemacs, and put code below in my dotspacemacs/user-init()
[code]
Now it's perfect ;]

[2016-03-26 01:52] #43 closed

[2016-03-26 12:20] nashamri commented on #43
Oh that's great I'll add that to the README :+1:
It still bypasses the theme though, and set the faces directly. Which is fine, but you have to do that for all the faces and modes you like to change.

[2016-03-30 20:45] jojojames opened #44 "Spacesmacs screenshots don't have same faces."
https://github.com/nashamri/spacemacs-theme/blob/screenshots/org.png

The Headline faces don't seem to be the same.
<img width="693" alt="screenshot 2016-03-30 13 46 48" src="https://cloud.githubusercontent.com/assets/1227856/14156965/e47122cc-f67d-11e5-8871-8bd22db905dd.png">

[2016-03-30 21:23] nashamri commented on #44
Are you talking about the bullet points not looking the same?
If that's the case, make sure you have [org-bullets](https://github.com/sabof/org-bullets) installed and activated.

[2016-03-30 21:27] jojojames commented on #44
Thanks, that was it.

[2016-03-30 21:27] #44 closed

[2016-03-30 21:27] nashamri commented on #44
Cheers! :smile:

[2016-04-25 14:38] jabranham opened #45 "Coloring of mu4e"
Hi -

Thanks for the great theme.

In `mu4e-headers`, the color of an email that I've replied to is the same as an email I haven't read yet. Is it possible to fix that? I know basically nothing about how emacs themes work, otherwise I'd do it myself...

[2016-04-25 19:31] nashamri commented on #45
Hey @jabranham I'm glad you like the theme :smile:
For sure this can be fixed, but I didn't use mu4e before. This certainly is on my todo list. I'll keep this issue open until I fix it.
Cheers!

[2016-05-03 00:21] qizhihere opened #46 "Replace obsolete `show-paren-match-face` with `show-paren-match`"
`show-paren-match-face` is obsolete now and its alias `show-paren-match` is used instead. Would you please make a quick fix?

[2016-05-03 09:55] nashamri commented on #46
Sure! thanks for reporting this.

[2016-05-03 10:19] nashamri commented on #46
It should be fixed now :smile:

[2016-05-03 10:19] #46 closed

[2016-05-13 06:54] agsdot commented on #42
@xuchunyang and @zzp0 , I'm finding that

[code]

also doesn't work. @zzp0 did you get it to work in your setup? @xuchunyang I don't have desktop-save-mode in my emacs.d .

I just want to use the spacemacs-theme right now, without using the entire spacemacs .emacs.d config . I like how the spacemancs-theme displays in the terminal, whereas some other themes don't display as nicely (e.g. solarized)

[2016-05-13 07:04] agsdot commented on #42
Nevermind. I accidentally was applying two themes at the same time. Later on in my .emacs.d, I was applying another theme. Sorry, @xuchunyang , your original code suggestion works just fine. Thanks!

[2016-06-11 10:38] nashamri commented on #29
@gguimaraesbr PR got merged in this fork https://github.com/auduchinok/base16-builder
So I think we can close this issue now :+1:
Thanks everyone!

[2016-06-11 10:38] #29 closed

[2016-06-12 08:30] d12frosted commented on #29
@nashamri nice! thanks for the themes.

[2016-06-14 08:32] chrismcg opened #49 "Symbols in ruby erb hard to read in light mode"
I love pretty much everything about your themes, thanks! The only thing is having to switch to -dark when editing .erb files because symbols are hard to read. I don't know enough about how themes work yet to figure out how to tweak or send a PR.

![index_html_erb](https://cloud.githubusercontent.com/assets/212/16036242/e8194be0-3212-11e6-9019-c2fb8d502702.png)

[2016-06-14 12:16] nashamri commented on #49
@chrismcg Thanks :smile:
yeah that yellow symbol needs some tweaking. I'll fix it right away.

[2016-06-14 12:31] nashamri commented on #49
It should be good now. Wait for MELPA to update then if everything is fine, you can close this issue :smile:
Thanks for reporting this one!

[2016-06-14 15:33] chrismcg commented on #49
Much easier to read now, thanks again!

[2016-06-14 15:33] #49 closed

[2016-06-23 02:52] benswift opened #50 "set spacemacs colors into ansi-color-names-vector"
Currently, spacemacs-theme doesn't touch `ansi-color-names-vector`, which means that for certain colored terminal output (e.g. in `async-shell-command` or `eshell`) the colored output is hard to read against the spacemacs dark background color.

[Monokai updates that vector](https://github.com/oneKelvinSmith/monokai-emacs/blob/master/monokai-theme.el#L5682), I'm wondering if it's possible for spac

[2016-06-23 11:35] nashamri commented on #50
Hey @benswift :smile:

We can modify `dyn-let` to be something like this:
[code]
and then append the call to `custom-theme-set-variables`.

I quickly tried it and it worked I just need to play with this a bit more just to make sure everything is fine.

Here's a gist of that change for you to check out:
https://gist.github.com/nashamri/6074115278bdf056636b0e010eb740bc

[2016-06-23 23:32] benswift commented on #50
Sure, sounds good. Alternately, could you change `dyn-let` to take
[code]
then you're covered for the more general case of multiplie body forms,
rather than just the two?  Still, the other option is fine too. I'm also
not sure which colours you want to use, you know the "spacemacs-y feel"
mappings better than I :)

Nasser Alshammari <notifications@github.com> writes:

[2016-06-25 03:32] jabranham commented on #45
In case anyone else is wondering about this, you can fix it fairly easily. Here is the whole setup I'm currently using for spacemacs-theme:
[code]

That makes unread emails yellow and bold, but you can obviously customize that to whatever.

[2016-06-25 14:36] nashamri commented on #50
You are right `(varlist fn &rest body)` would be the general case but I don't see me doing anything else other than setting faces and variables. So doing it the more specific way would maybe make the code more readable. I'm going to push this change now and let me know if anything goes bad :smile:

[2016-06-25 14:49] nashamri commented on #45
Hey @jabranham sorry for being late :smile: . I still didn't use mu4e but I pushed a small commit based on your snippet. Please leave this issue open until I get the time to theme all of mu4e.

[2016-06-27 00:50] benswift commented on #50
Sure, that's fine.  I'm a sucker for over-engineering things, but you're
right that there probably won't be the need for a more general solution
here.

Nasser Alshammari <notifications@github.com> writes:

[2016-07-02 17:36] nashamri commented on #50
All righty, this one seems done. Feel free to re-open it if you notice something wrong.

[2016-07-02 17:36] #50 closed

[2016-07-06 18:23] Stebalien opened #53 "Color the entire gutter"
#52 changed the fringe background color to match the gutter. Unfortunately, introduces some ugly corner cases:

![1467828835](https://cloud.githubusercontent.com/assets/310393/16629702/d889aa66-4384-11e6-9872-d30008c9f9ce.png)
1. Not all parts of the gutter are colored. This creates ugly boxes.
2. There's an ugly disconnect between the fringe line in the buffer and the fringe line in the command p

[2016-07-07 11:54] nashamri commented on #53
Thank you @Stebalien :smile:  I've reverted the last PR.

I like having a bit of contrast between the line numbers and the actual buffer because if the fringe is turned off, the line numbers will be really close to the buffer. The fringe, on the other hand, does extend past the line numbers (linum-mode) as you show in your figure (#2). So for now, I think the fringe should have the same background

[2016-07-09 05:01] belak commented on #53
I really don't like how this looks with `linum-mode`. Having a buffer at the start of the line that's the same color as the code can make it unclear how much space is actually at the start of the line.

For me, this is a question of whether the fringe "belongs" to the code or something else. I view it as something separate, but that might just be me.

That being said, I'm not sure if there's a fix

[2016-07-09 15:06] Stebalien commented on #53
You can partially fix this (https://emacs.stackexchange.com/questions/805/how-can-i-fill-the-entire-line-number-bar-with-a-custom-background-color) but this fix introduces some supposedly fixable performance issues.

Personally, I prefer just leaving the space as is. The numbers are right aligned so I know there will always be exactly one space between the line numbers and the text.

[2016-07-09 15:08] Stebalien commented on #53
However, I'd love to have a way to configure this.

[2016-07-13 12:11] ninrod opened #54 "improve avy highlighting in terminal"
right now, when using the theme inside the terminal, it's very hard to see the right sequence that the user needs to hit when using avy. Sample below:

![screenshot](https://cloud.githubusercontent.com/assets/8352747/16792385/577eec6e-489e-11e6-9fca-7ddc718ca016.png)

ref: https://github.com/syl20bnr/spacemacs/issues/6564

[2016-07-13 14:27] syl20bnr opened #55 "Consider changing color for face lazy-highlight"
Hi Nasser,

I just pushed https://github.com/syl20bnr/spacemacs/commit/653da2a to develop branch. It tries to keep consistency with smartparens overlay and evil search highlight.
I did this to make it easier to fix an annoying UX bug which is that overlayed pairs or evil persistent search occurrences have the same face as `region`. It is very uncomfortable when you want to select the text since yo

[2016-07-13 18:26] nashamri commented on #55
Oh this is great! and it might fix this old issue https://github.com/nashamri/spacemacs-theme/issues/25
Working on it!

[2016-07-13 21:44] nashamri commented on #55
@syl20bnr this https://github.com/nashamri/spacemacs-theme/commit/b61aface0a62b24cbfd47de3ea393885e7a9f1ae looks good on my end, tell me if you see any issues :smile:

[2016-07-13 22:16] nashamri commented on #54
@ninrod Thank you for reporting this. It's fixed now. Just wait for MELPA to update :smile: :+1:

[2016-07-13 22:16] #54 closed

[2016-07-13 22:29] nashamri commented on #25
Highlighting within a block works well now on spacemacs since this commit https://github.com/syl20bnr/spacemacs/commit/653da2a.

Maybe this issue https://github.com/Fuco1/smartparens/issues/547 could be resolved by doing something similar.

[2016-07-13 22:29] #25 closed

[2016-07-13 23:42] nashamri commented on #31
@jordwalke Is this still an issue?

[2016-07-15 19:24] quicknir opened #56 "Colors for helm-ag"
Hello,

I currently find the color  scheme (spacemacs light) makes it a bit harder to use helm-ag, when using e.g. `SPC s a b` to search all buffers with ag. The filename and line number don't really stand out, making it easy to confuse them with the text, especially if filenames are of very different lengths. The faces are helm-moccur-buffer and helm-grep-lineno. I was thinking maybe the bolded p

[2016-07-15 19:24] quicknir opened #57 "Colors for helm-ag"
Hello,

I currently find the color  scheme (spacemacs light) makes it a bit harder to use helm-ag, when using e.g. `SPC s a b` to search all buffers with ag. The filename and line number don't really stand out, making it easy to confuse them with the text, especially if filenames are of very different lengths. The faces are helm-moccur-buffer and helm-grep-lineno. I was thinking maybe the bolded p

[2016-07-15 19:25] #57 closed

[2016-07-15 20:50] syl20bnr commented on #55
@nashamri just tested it! Great job! :purple_heart:

[2016-07-15 20:50] #55 closed

[2016-07-16 19:31] nashamri commented on #56
Hey @quicknir thanks for reporting this. Yeah it needs fixing, working on it :+1:

[2016-07-16 20:05] nashamri commented on #56
Should be fixed now :smile: wait for MELPA to reflect the changes.

[2016-07-16 20:05] #56 closed

[2016-07-24 10:26] #31 closed

[2016-07-31 15:57] swarnendubiswas commented on #42
Another option is:
[code]

[2016-08-05 20:29] jabranham opened #58 "Standardize headers"
It would be nice if headings across different modes were standardized (color, height, etc). For example, right now org-mode and markdown-mode headers (and sub-headers, and sub-sub-headers) are the same color but different heights. Latex (sub/sub)headers are a different color, but the same (or similar) height as org-mode.

[2016-08-05 22:54] nashamri commented on #58
Hey @jabranham :smile:
Yeah you are right, I'll fix it.

[2016-08-06 12:17] #58 closed

[2016-08-19 01:09] peterhadlaw opened #59 "Theme additions for Jabber"
Great project, really happy user. I'm gonna make an issue about this theme not having support for jabber.el

As a reference, here is bbatsov's [implementation](https://github.com/bbatsov/solarized-emacs/blob/37cb827e62d37e664ea7b46ef26927fd399a819a/solarized.el#L1160) for his solarized-theme.

When I can, I'll loop back with a PR adding support for this

[2016-08-19 22:27] nashamri commented on #59
Hey @peterhadlaw :smile:
Thanks for reporting this and linking to bbatsov's take on it. I'll probably get sometime to do it tomorrow, hopefully.

[2016-08-20 17:42] #59 closed

[2016-08-20 17:43] nashamri commented on #59
All done, wait for melpa and let me know if you see something wrong with it :beers:

[2016-08-24 20:05] peterhadlaw commented on #59
@nashamri This looks great!! Thank you so much for adding this :) 👍 Gonna be using it every day

[2016-08-29 12:31] duianto opened #60 "The search highlight is almost invisible in the develop branch"
#### Description :octocat:

In the spacemacs develop branch, the spacemacs-dark-themes search highlight background color: `#293239`, and the emacs background color: `#292E34` are to similar. That makes the highlight pretty much invisible.

A quick check showed that the highlight color also is to similar to the background color in the spacemacs-light-theme.

The highlight color is a lot more visibl

[2016-08-29 12:46] nashamri commented on #60
Hey @duianto thanks for reporting this :smile:
This is related to this issue https://github.com/nashamri/spacemacs-theme/issues/55

[2016-08-29 12:55] nashamri commented on #60
So, from what I can see, this commit https://github.com/syl20bnr/spacemacs/commit/653da2a
kinda unified the face `evil-search-highlight-persist-highlight-face` (the one used when you `C-s`) and the face `sp-pair-overlay-face` (used when opening a paren to highlight the paren region) to inherit from the face `lazy-highlight`.

If we break the unification and made `evil-search-highlight-persist-high

[2016-09-08 02:31] syl20bnr commented on #60
Maybe find another color for `lazy-highlight` then. The idea is to have it different than `highlight` or `region` in order to be able to see the selected text. Before it was the same color which is very confusing.

[2016-09-09 11:48] nashamri commented on #60
@syl20bnr Thanks for the feedback :smile:
@duianto Okay I did a little change, I hope it's better now. Let me know what you think :smile:

[2016-09-09 18:16] duianto commented on #60
It's a lot better thanks 😄

![lazy highlight dark theme](https://cloud.githubusercontent.com/assets/13420573/18397672/8c1fe21c-76c9-11e6-8fe8-589889b133c1.png)
![lazy highlight light theme](https://cloud.githubusercontent.com/assets/13420573/18397671/8c1c5cdc-76c9-11e6-93ca-4ada469d87c2.png)

[2016-09-09 18:17] nashamri commented on #60
Okay great :smile: closing this one then.

[2016-09-09 18:17] #60 closed

[2016-09-19 18:49] edran opened #61 "Support different base colours"
First off, let me give you a huge amount of thanks for making such a nice theme. Making Emacs pretty is always quite a challenge, and you have managed pretty well so far :)

I was just wondering if it'd be possible to have different versions of the dark theme where the base colour is not just purple (e.g. having a `spacemacs-red`, `spacemacs-blue`, etc.), and whether you think this might be feasib

[2016-09-21 17:30] nashamri commented on #61
Hey @edran thanks for the kind words :smile:

You can do that right now with spacemacs-theme. For example, just add this to your `dotspacemacs/user-init`:

[code]
To change the `act1`, `act2` and `base` .

[2016-09-22 16:22] edran commented on #61
Excellent :)

The only issue with this particular solution is that it's harder to deal with both `dark` and `light` theme, so I wonder if it'd be easier to ship the theme directly with a custom function?

[2016-09-24 15:22] nashamri commented on #61
Yes the solution I mentioned won't work for both variants. I need to play with this a bit to see what's the best way to support both variants.

[2016-10-22 03:34] shan199105 opened #62 "[Help Needed] Changing Font Size In Agenda View"
Here is a screenshot of what agenda view looks like under spacemacs-black theme

<img width="291" alt="42bf282762bb9c9d97bb8d16deca040bae8fa01b_1_582x500" src="https://cloud.githubusercontent.com/assets/2152195/19616642/ac809bda-97e6-11e6-8352-241c1ffcba3e.png">

Is it possible for me to customize it to make it a smaller font size?

Also when it is today, it seems the font for displaying today's t

[2016-10-22 15:01] nashamri commented on #62
Hello @shan199105 thanks for reporting this.

I've introduced a new custom variable called `spacemacs-theme-org-agenda-height`. Just add:
[code]
to your emacs config.

Just wait for MELPA to get the new updates :smile:

[2016-10-22 18:13] shan199105 commented on #62
Wow, that is awesome. Thank you so much for adding that variable, making things so much easier. Really appreciate your help here.

Sorry for asking one more question here. Is it possible for me to make the task font size smaller for the org-agenda today view as well? I want to use the emacs default font size for that, it seems like the font size in agenda is larger than the emacs default font size

[2016-10-22 18:25] nashamri commented on #62
You are not bothering me at all :smile:

The actual face names are:
1- for the "done" agenda entries is `org-agenda-done`
2- for the "todo" agenda entries is `org-scheduled`

Is the issue that you mentioned, only happening for the "DONE" entries?
or for all entries in org agenda?

Also, can you also post your font configurations (Your `dotspacemacs-default-font` variable value, if you are using sp

[2016-10-22 18:30] shan199105 commented on #62
![image](https://cloud.githubusercontent.com/assets/2152195/19621619/9a7b53b2-9863-11e6-9db5-7b74970eb127.png)

Here is the configuation for the `dotspacemacs-default-font` variable. I am using spacemacs, and I think I didn't have any customize setting on font, so that should be the default setting.

<img width="1438" alt="pasted_image_2016-10-22__2_28_pm" src="https://cloud.githubusercontent.com/

[2016-10-22 18:41] nashamri commented on #62
Hmmm..
I agree with you, it seems a little bit bigger. I'm not sure why, though.

On my end it looks like this:
![screenshot_20161022_193746](https://cloud.githubusercontent.com/assets/1207107/19621685/16059be8-988f-11e6-8681-ffb0778d50ab.png)

What I did is just put that custom variable in my `user-init` like so:
[code]

And this is my font settings:
[code]

[2016-10-22 19:02] nashamri commented on #62
Just tested the {day, week, year} view and it looks fine on my end.

[2016-10-22 20:42] shan199105 commented on #62
Hi, I went for a lunch outside.

So the default behavior is to have the same font size? This is strange.

I switched font to `DejaVu Sans Mono`. Below is a screenshot. It is perfect.
<img width="1440" alt="pasted_image_2016-10-22__4_27_pm" src="https://cloud.githubusercontent.com/assets/2152195/19622288/78d57db2-9874-11e6-91b5-3979a110d392.png">

So the problem is when I use the default font `Sour

[2016-10-22 21:02] shan199105 commented on #62
WoW, the default config seems to be good. It must be any of my config that mass this up. I will comment part of my config to see what caused this problem.

[2016-10-22 22:26] shan199105 commented on #62
Oh, even I remove the font from the mac the problem still exists. I thought the problem is gone is because without font, it is hard to find out that the font indeed a bit larger. It is just being more obvious when I install the font.

Sorry for the misleading.

Here is a summary of the result I found.

First I am using the default config, so this is the process I am followed.

1. remove the .space

[2016-10-23 00:34] shan199105 commented on #62
I have changed all the done item scale height to 1.0 it was 1.1 by default. So I guess, the done item is larger is a default behavior. Thank you so much for introducing me to the ~org-agenda-done~ face-type. That really helpful.

This is the code I use to make the done tasks the same font size compare to others
[code]

Now there is still one more problem here. The scheduled item for today is still

[2016-10-23 00:52] shan199105 commented on #62
In order to make today's scheduled task having the same font I find a face-type called ~org-scheduled-today~

so the following code can set the today's schedule height 1.0, default seems to be 1.3

[code]

Now, everything in my agenda is having the same font size. Thank you very much for helping me. Without you help I will never know how to do it. Really appreciate.

[2016-10-23 00:57] shan199105 commented on #62
<img width="1431" alt="pasted_image_2016-10-22__8_52_pm" src="https://cloud.githubusercontent.com/assets/2152195/19623498/a4dc6e3c-9899-11e6-929b-8bf4de2c0b2f.png">

Here is a final screenshot. To summarize: below is config I use to make everything the same height(font size)

[code]

Finally, give 100 thumb up to the repo owner, love the spacemacs-theme.

[2016-10-23 00:57] #62 closed

[2016-10-23 12:40] nashamri commented on #62
Hey @shan199105 thanks for investigating this. I actually missed the `org-scheduled-today` face :smile: now I pushed a new commit https://github.com/nashamri/spacemacs-theme/commit/db781c348b2ecdf871445986ef1cb2783c867ea0 to control this face (which might be the cause of the issues you were having) with the `spacemacs-theme-org-agenda-height` variable.

So, you might not need to include this:
[cod

[2016-10-29 01:09] shan199105 commented on #62
That's great. I have removed that and it now works. Thanks for giving me hints at the first place. Very helpful. 😄

[2016-11-07 15:16] lpil opened #64 "Make theme available for different programs"
Hello!

I'm *really* enjoying this theme, and I've love to be able to use it with the Gnome terminal and other applications. Do these config files already exist? And if not would they be welcome contributions to this repo?

[2016-11-07 15:46] nashamri commented on #64
Hello @lpil, :smile:

Yes I believe this repo has what you are looking for: https://github.com/auduchinok/base16-builder
And you probably want to check this https://github.com/nashamri/spacemacs-theme/issues/29

[2016-11-07 15:51] lpil commented on #29
Great. Thank you!

[2016-11-07 15:52] lpil commented on #64
Wonderful, thank you :)

[2016-11-07 15:54] nashamri commented on #64
I probably need to update the README file to show this. So, I'm going to leave this issue open until I get that done.

[2016-11-09 23:26] eflanigan00 opened #65 "Show paren mode doesn't work with Emacs 25.1.1 in daemon mode"
emacs --daemon
emacsclient -c
It works in other themes so I'm not sure what the problem is.

[2016-12-02 15:30] surya46584 opened #66 "add support for tabbar"
request to add support for tabbar.

I have following code working, review and update as per the theme:

[code]

[2016-12-05 19:01] nashamri commented on #66
PR merged! thanks again :smile:

[2016-12-05 19:01] #66 closed

[2017-02-08 22:18] fredefox opened #70 "Title-size in markdown files"
I wanted all text to have the same size, so I messed around with some config files and I didn't understand why my changes weren't being persisted until I tracked down that font-size scaling for headers in mardkown-files use hard-coded values. The issue is here:

[`spacemacs-common.el:527`](https://github.com/nashamri/spacemacs-theme/blob/master/spacemacs-common.el#L527)

Should be easy to fix my I

[2017-02-08 22:39] ninrod commented on #70
just set this:   `(setq spacemacs-theme-org-height nil)`

[2017-02-08 23:14] nashamri commented on #70
As @ninrod said, and you can check all the configurable variable here https://github.com/nashamri/spacemacs-theme#customizations

You can also do this via `customize` as in this short gif :smile:
![peek 2017-02-08 23-09](https://cloud.githubusercontent.com/assets/1207107/22761761/16c9c25a-ee54-11e6-986e-f68eca40a0db.gif)

[2017-02-09 00:17] fredefox commented on #70
That's very helpful. Thank you very much! I'll do it the spacemacs-way rather than hacking the theme-file.

[2017-02-09 00:17] #70 closed

[2017-02-14 10:41] triklsbg opened #71 "Slightly different background colours for code and comments"
in my eyes irritating. Where does this come from? How can i avoid it?
Perhaps it is intentional?
![spc_light_screenshot_20170214_111935](https://cloud.githubusercontent.com/assets/3647083/22925851/8617e006-f2aa-11e6-8835-afb8ea7a83ff.png)
![spc_dark_screenshot_20170214_111736](https://cloud.githubusercontent.com/assets/3647083/22925857/8cd5bdb4-f2aa-11e6-976b-c576110e8c5b.png)

[2017-02-14 10:49] ninrod commented on #71
see [here](https://github.com/nashamri/spacemacs-theme#customizations).

you want to set `spacemacs-theme-comment-bg` to nil, like this:

[code]

[2017-02-14 13:50] nashamri commented on #71
@triklsbg As @ninrod said :smile:
Thanks @ninrod :+1:

[2017-02-14 13:58] nashamri commented on #64
Okay, this is done. https://github.com/nashamri/spacemacs-theme#like-the-theme-and-want-to-use-it-in-other-places

[2017-02-14 13:58] #64 closed

[2017-02-14 13:59] #71 closed

[2017-02-14 14:59] triklsbg commented on #71
Thanks, i put it in the dotspacemacs/user-config definition.

[2017-02-14 15:53] nashamri commented on #71
yeah that should do it :smile:

[2017-02-17 12:50] duianto opened #72 "Default #b2b2b2 and Shadow #b3b3b3 foreground colors are almost identical"
### Description
The foreground colors, default: `#b2b2b2` and shadow: `gray70` (`#b3b3b3`) are almost identical when the current theme is `spacemacs-dark`.

This was noticed in the `evil-ex` <kbd>S-;</kbd> prompt. Because it shows the previous command with the shadow foreground color. The almost identical colors makes it difficult to see a difference between a previous and a current command.

In t

[2017-02-17 13:22] nashamri commented on #72
Yeah there's no theming for the face `shadow` which other modes inherit from. I think this could be solved by assigning `base-dim` to  the `shadow` face, as you suggested. I'll fix this now :smile:

[2017-02-17 13:26] nashamri commented on #72
Wait for MELPA to update, and please close this issue if you think it's fixed.

[2017-02-17 17:07] duianto opened #73 "Magit reflog, the colors are to saturated, the blue branch color is strange"
I noticed in `spacemacs-common.el` that there's a magit section. Would it be possible to add the reflog colors, with reduced saturation, currently they are so harsh compared to the softer spacemacs-theme colors.

This is what at least some of the commands and their colors look like:

![magit-reflog-colors](https://cloud.githubusercontent.com/assets/13420573/23073007/3a155da0-f534-11e6-9fc3-2ed020f

[2017-02-17 19:07] #73 closed

[2017-02-17 20:30] duianto commented on #73
That looks great, thanks 😄

[2017-02-17 20:47] duianto commented on #72
It's taking a while for MELPA to update. This repository was updated 7 hours ago. I'm just guessing but maybe there's a delay before it looks for an update from a recently updated repository.

I'm sure it works, so I'll close this now. Thanks for fixing this.

[2017-02-17 20:47] #72 closed

[2017-02-26 09:52] duianto opened #74 "Diff-file-header is hard to read in the spacemacs-dark theme"
### Description
With the `spacemacs-dark` theme enabled, and a `*Diff*` buffer open. Then the `diff-file-header`'s background color (`gray60`) makes it hard to read the file paths:

![diff-file-header_hard-to-read](https://cloud.githubusercontent.com/assets/13420573/23338476/9f9a6b00-fc0c-11e6-9829-c3adb261b576.png)

In the `spacemacs-light` theme it's easy to read the `diff-file-header` text, so

[2017-02-26 12:06] #74 closed

[2017-02-26 12:06] nashamri commented on #74
All done :+1: thanks @duianto for finding this :smile:

[2017-03-06 02:51] gregf opened #76 "org header size"
Is there a way to adjust the font size for org-mode headers? I know theres the setting to enable/disable varying size, but the font is larger than I would like at the top level heading.

[2017-03-06 13:21] ninrod commented on #76
see #70

[2017-03-06 14:07] gregf commented on #76
This isn't what I want. That just makes it so all the headers are the same size. My problem is they are to big. I want to make them smaller.

[2017-03-06 14:43] nashamri commented on #76
@gregf I think you can do something like this in your `user-config`, if you are using spacemacs:
[code]
Just choose the height you like. The example above will work for org-mode only, so if you want it for other modes, you have to add the appropriate hook.

The org header faces are named `org-level-1, org-level-21, etc...

[2017-03-06 14:50] gregf commented on #76
That did it, thank you!

[2017-03-06 14:50] #76 closed

[2017-03-08 15:22] dariushazimi commented on #62
Can u share the font setting you have. Looks really good.

[2017-04-07 02:32] nuynait commented on #62
@dariushazimi Sure. Sorry for the late reply. This is the face customization I made to for my agenda.

This is the format customization
[code]

This is the face Customization
[code]

**I wrote a [blog post](http://blog.hourglasslab.com/2016/10/19/how%20do%20i%20organize%20my%20tasks%20and%20notes/) about how I config my emacs to manage tasks and store notes. Above config is also included with deta

[2017-05-01 23:01] lynnard opened #78 "Does not support multiple frames opened in both GUI and terminal"
I run emacs daemon and have all my emacs frames connect to the daemon via `emacsclient`. As I understand the theme right now detects GUI/terminal env on theme loading during emacs startup - meaning that once the emacs daemon is up and running, if it is started within the GUI env, all the terminal (tty) frames that later connect to it will have wrong colors loaded - even though the theme itself *do

[2017-05-02 19:40] nashamri commented on #78
Hey @lynnard thanks for reporting this :smile:

Can you provide some screenshots and some info about your setup? (OS, terminal emulator, etc...)

I see some issues when I used a `tty` and a `gui` at the same time but I need to make sure it's the theme's fault and not some weird issue with the terminal emulator.

Defining faces, I think, is out side the scope of the theme as they are usually define

[2017-05-02 20:53] lynnard commented on #78
![tty with emacsclient -nw](https://cloud.githubusercontent.com/assets/1991754/25638754/5b90cdfc-2f81-11e7-837c-0d70590aaed4.png)

![tty with fresh emacs instance](https://cloud.githubusercontent.com/assets/1991754/25638848/a241d5ac-2f81-11e7-8ec1-1c83758a4b8e.png)

Regarding faces - I got the hint here https://emacs.stackexchange.com/questions/2096/different-themes-for-terminal-and-graphical-fram

[2017-05-02 20:59] nashamri commented on #78
Yeah I'm getting the same dark blue lines in your first screenshot and it seems like an issue with the theme. Thanks for the link, I'll look into it :+1:

[2017-05-02 22:04] nashamri commented on #78
@lynnard this one seems a bit complicated :smile:
As a workaround, from the emacs stackexchang link, this package https://github.com/vic/color-theme-buffer-local might be useful and should allow you to set a theme per buffer. I did not test it though.

[2017-05-07 19:26] lynnard commented on #78
I tried it out but unfortunately it doesn't seem to support
`spacemacs-theme` - it pops out a list of colorschemes after I trigger
`color-theme-buffer-local` function but `spacemacs-*` is not within that
list.

The other thing I realized while I was trying it out - even if it worked
it wouldn't be a solution for the problem here as the plugin is for
applying the theme on a buffer basis - which mea

[2017-05-21 16:44] gnava commented on #65
Hi,

I had a similar issue. But is not that show-paren-mode is not working, the problem is that the face colour for show-paren-match and show-paren-mismatch is indistinguishable from normal text when starting emacs as a daemon. You can change the face to test it with set-face-attribute.

Actually is not the only face, other faces have different background colours depending if emacs is started as d

[2017-06-11 20:08] #45 closed

[2017-06-12 16:35] duianto opened #79 "Green diff overlays, make blue text almost invisible"
When a file with a merge conflict is opened, then it shows red and green colored diff sections.

Blue comment/keyword text becomes almost invisible in the bright green sections.
And green text in the bright red sections, makes the text almost "vibrate".

![blue and cyan text almost invisible under green overlay](https://user-images.githubusercontent.com/13420573/27042103-4b5b553a-4f96-11e7-87f0-a6

[2017-06-14 12:47] nashamri commented on #79
Thanks @duianto I think I fixed it:
![smerge](https://user-images.githubusercontent.com/1207107/27132776-fd6b6df6-5107-11e7-9d2c-480978bcdd17.png)

![smerge-light](https://user-images.githubusercontent.com/1207107/27132783-026841a8-5108-11e7-9490-89c43b767c07.png)

[2017-06-14 12:50] nashamri commented on #79
Oh and another thing, now spacemacs has its own copy of the theme. So, until these new changes get commited to spacemacs codebase, you can get these updates from MELPA.

[2017-06-14 14:04] duianto commented on #79
That looks great (as usual), thanks 👍

Yeah I know about Spacemacs using a local copy. The reason seems to be, so that the theme is available earlier in the startup process, and to improve reliability if there are any startup or package install issues.

Source: spacemacs-theme updates available, but I'm getting "All packages are up to date" [#8397](https://github.com/syl20bnr/spacemacs/issues/8397

[2017-06-14 14:31] nashamri commented on #79
I was actually looking at the last commit merged with spacemacs to prepare a PR :smile:
I'll send one right now and hopefully a new version of spacemacs will be released soon :beers:

[2017-06-19 11:24] duianto commented on #79
I got a merge conflict that shows the `smerge-refined-changed` face:

![merge conflict](https://user-images.githubusercontent.com/13420573/27276957-098566d6-54dd-11e7-8b2e-777c57cafc78.png)

### Problem:
It isn't obvious that the merge conflicts changed (blue) text, isn't just part
of the regular text, since it looks so similar to the function and keyword text
above the merge conflict.

### Possib

[2017-06-21 14:20] nashamri commented on #79
Yup! good notes. Will fix that :smile:

[2017-07-05 17:44] rafaelrinaldi opened #82 "Option to enable italics for comments"
First of all thanks for the theme, I like it a lot.

One thing I miss a lot is comments in italics. I noticed you already have an option to toggle the background color for them and was wondering if there's interest on implementing an option to toggle italics too?

[2017-07-05 17:54] nashamri commented on #82
Thank you @rafaelrinaldi 😄
Yeah I think this is a good idea and can be easily implemented. Will do!

[2017-07-05 19:27] rafaelrinaldi commented on #82
@nashamri I can give it a shot if you would like.

[2017-07-05 19:50] nashamri commented on #82
Yeah sure, shoot me a pull request and we'll take it from there 👍

[2017-07-05 19:53] ninrod commented on #82
yeah, itallics for comments work well. I did __[this](https://github.com/ninrod/spacemacs-theme/commit/9e80dca160e085f4bda8602530887178de5d69d8)__ with my personal fork of spacemacs theme.

[2017-07-05 21:37] nashamri commented on #82
Yes @ninrod, the change is pretty simple. Additonally, I would prefer to have a variable to control this and make it off by default. So something like this:

[code]

And then something like this:
[code]

I did not test this, so if @rafaelrinaldi can try that and send a PR, that would be great 😄

[2017-07-13 18:57] nashamri commented on #82
Fixed in https://github.com/nashamri/spacemacs-theme/commit/11d6958364271e11c920015c24d509f9bdcce6c9

[2017-07-13 18:57] #82 closed

[2017-07-28 17:27] jabranham opened #85 "Comments and docstring different colors?"
Right now, comments and docstrings are the same color. I'd like to make them a little easier to distinguish between, though. Is that a PR you'd be interested in?

[2017-07-29 17:54] nashamri commented on #85
Yeah sure, maybe a little variant of the comment's color could be used to change the docstrings, or anything, I'm open for suggestions, I did a quick check and there seem to be these three faces:

[code]
I'm not sure what the `font-lock-comment-delimiter-face` supposed to be, though. I think we should leave the comments as they are and change the docstrings (the `font-lock-doc-face`).

[2017-07-29 19:34] jabranham commented on #85
OK, great. Those are the three faces I found as well.

font-lock-comment-delimiter-face is used for the characters that start a comment (so `;` in emacs-lisp mode, for example). I think we should probably just leave that alone so it matches font-lock-comment-face (which it inherits from).

Also agree about leaving comments and changing docstrings. How about if we change it to green (currently #67b

[2017-07-31 12:19] nashamri commented on #85
Or maybe we could just use the `meta` color for the docstrings (https://github.com/nashamri/spacemacs-theme/blob/master/spacemacs-common.el#L121). It's already adjusted for the light and dark versions and for the terminal, and the 'docstrings' can be thought of as meta information, so we got the semanitcs there also :smile: .what do you think?

[2017-07-31 13:50] jabranham commented on #85
Sounds great!

[2017-07-31 15:48] nashamri commented on #85
fixed by 5bcac14ab4b99bc3bef20fd62ef981c4590c4021

[2017-07-31 15:48] #85 closed

[2017-08-19 06:56] MichaelStergianis commented on #78
I am having a similar problem, a temporary solution (as long as your daemon is running until it is closed) is to call ```lisp

[2017-10-14 05:38] seagle0128 opened #91 "Show-paren-mode erroneously highlights the left margin"
Please refer to the similar issue on https://github.com/oneKelvinSmith/monokai-emacs/pull/83 and https://lists.gnu.org/archive/html/bug-gnu-emacs/2015-10/msg01050.html.

The workaround is
[code]

[2017-10-20 12:26] nashamri commented on #91
@seagle0128 Thanks for this, will update the theme now.

[2017-10-20 12:33] #91 closed

[2017-10-22 21:31] mssdvd opened #92 "Unable to tweak theme"
I customized 'spacemacs-theme-comment-bg' and 'spacemacs-theme-comment-italic' but nothing is changed. Iosevka font supports italic fonts.

![image](https://user-images.githubusercontent.com/18464329/31866523-1ef7d312-b781-11e7-8e77-9e1ea3e58f7a.png)

Config file:
https://hastebin.com/rofayutequ.sql

[2017-11-04 15:50] nashamri commented on #92
hello @mssdvd,

I just checked your config file, I believe you didn't actually install the theme. Add this to your packages
`(use-package spacemacs-theme)`

[2017-11-04 19:22] mssdvd commented on #92
Strange. I reinstalled the package with 'package-reinstall' and the comments were italic but when I create a new client frame or I launch a new instance of emacs, it doesn't work well.

[2017-11-04 19:55] nashamri commented on #92
Here are the steps I did and it was working for me:

1. Copied your config file and rename it to `init.el` in the `.emacs.d` dir.
2. Added `(use-package spacemacs-theme)` around line 200, in your packages.
3. Stared emacs and `M-x load-theme` and picked `spacemacs-dark`.

Also, this might help https://github.com/nashamri/spacemacs-theme/issues/42

[2017-11-04 20:12] mssdvd commented on #92
It works! Thank you!

[2017-11-04 20:12] #92 closed

[2017-11-04 20:19] nashamri commented on #92
😄 glad it did, and thanks for the ⭐️

[2017-11-14 03:47] deybhayden opened #93 "Spacemacs Light Theme - Odd markdown pre colors"
<img width="747" alt="screen shot 2017-11-13 at 9 42 44 pm" src="https://user-images.githubusercontent.com/877908/32761893-a9dedf20-c8bb-11e7-8d63-6ad1b6fe4f88.png">

Wasn't sure if this was intentional or not, but 3 backtick sections look pretty jarring?

[2017-11-18 13:57] nashamri commented on #93
Hey @deybhayden no it's not intentional :smile:
Are you using spacemacs or emacs? and do you mind sharing how you load the theme? It seems like a loading issue to me.

[2017-11-20 15:57] deybhayden commented on #93
Oh, you know what, it has to do with "cycling" my themes. I default to dark mode, but use light on occasion. If I do light on launch, I don't have that issue.

[2017-11-20 16:02] nashamri commented on #93
Yeah that makes sense. This PR https://github.com/nashamri/spacemacs-theme/pull/89 might solve it. Having two variants of the theme caused some issues when loading/switching between the two variants.

[2017-12-05 03:44] stardiviner opened #96 "company-mode common part highlight is not clear"
![spacemacs-theme company-mode common part](https://user-images.githubusercontent.com/378699/33589026-1bde6b1c-d9b1-11e7-8174-30d560206dd2.png)
As the screenshot displays, the common part `company-tooltip-common` is not very clear. It is almost same color with the background color.
![spacemacs 2](https://user-images.githubusercontent.com/378699/33589121-ae8db06c-d9b1-11e7-8307-f1f641a729e3.png)

[2017-12-14 02:47] eflanigan00 commented on #65
Any update on this? Something about the theme doesn't load properly when daemon mode starts.
If eval `(load-theme 'spacemacs-dark t)` after the daemon starts everything seems to be ok.
But it would be great if I could get the theme to load normally the first time.

[2017-12-14 05:32] eflanigan00 opened #97 "Add face for ace-window"
What I'm using now:
[code]

[2017-12-14 12:36] nashamri commented on #65
Hello @eflanigan00, there's a PR https://github.com/nashamri/spacemacs-theme/pull/89 that might solve this issue. Sorry, I still didn't have the time to work on it.

[2017-12-14 13:01] nashamri commented on #97
Thanks @eflanigan00 just pushed an update to support ace-window. You can close this issue.

[2017-12-14 14:00] eflanigan00 commented on #65
Can you include the PR so we can try it out?

[2017-12-14 14:22] nashamri commented on #65
@eflanigan00 you can get it from @jabranham branch https://github.com/jabranham/spacemacs-theme/tree/fix-theme-loading. As I said, I need to test it more and I didn't have the time yet. If you test it and it solves the issue, please let me know.

[2017-12-15 03:03] eflanigan00 commented on #65
I tried this and it doesn't solve the problem I'm seeing.

[2017-12-15 13:29] nashamri commented on #96
@stardiviner thanks :+1: pushed a fix for this.

[2017-12-15 13:32] nashamri commented on #97
I'm closing this now, thanks @eflanigan00, feel free to comment back if you think there's something wrong with the update.

[2017-12-15 13:32] #97 closed

[2017-12-15 13:32] #96 closed

[2017-12-16 00:25] eflanigan00 commented on #97
@nashamri awesome box on the text, thanks for adding it!

6975915e3bc23dd961c251c7c7f4f9cf3b2fe8dc

[2017-12-16 00:26] eflanigan00 commented on #97
Closes 6975915e3bc23dd961c251c7c7f4f9cf3b2fe8dc

[2017-12-17 09:19] stardiviner opened #98 "ace-window leading char face is very small"
[code]
I hope by default `spacemacs-theme` will set `ace-window` leading char face larger.

[2017-12-17 13:03] nashamri commented on #98
Yeah that sounds like a good idea @stardiviner

[2017-12-17 14:13] nashamri commented on #98
Made it double the size, 2.5 seemed too big :smile:
Thanks @stardiviner

[2017-12-17 14:13] #98 closed

[2017-12-18 03:36] eflanigan00 commented on #98
Is there a way to prevent the screen from resizing when this is evoked?

[2017-12-19 12:49] nashamri commented on #98
@eflanigan00 I'm not sure what you mean? maybe a screenshot would help?

[2017-12-20 20:14] #93 closed

[2017-12-20 21:23] nashamri commented on #93
@deybhayden glad you figured it out! thanks for closing this.

[2017-12-30 22:40] casouri opened #99 "improve color in avy (GUI)"
I've seen an similar issue for terminal. In GUI, it is even harder to see.

<img width="1158" alt="screen shot 2017-12-30 at 5 36 26 pm" src="https://user-images.githubusercontent.com/13118647/34457738-705ae572-ed88-11e7-9249-d1447f549d61.png">

Maybe it can be changed to some brighter colors?

[2018-01-06 23:08] MBuchaus opened #100 "More contrast on title of article in elfeed"
I'm includeing a screen shot of the very faint title   This works well in monokai but spacemacs-dark is better for terminal and all around use .

the Text I'm refering to in screenshot is  "[Collage Wifi] Network manager doesn't connect"

If there is a settable var that I can tweak for this please let me know.

![elfeed color shot](https://user-images.githubusercontent.com/954897/34644852-4349d472

[2018-01-07 14:19] nashamri commented on #99
Hey @casouri just fixed this as shown in the screenshot. I'll push the update now.
![archlabs_2018-01-07-24_1920x1080](https://user-images.githubusercontent.com/1207107/34650240-c65857f6-f3ce-11e7-8fb3-933b538aaf31.png)

[2018-01-07 14:45] nashamri commented on #100
Hey @MBuchaus, thanks for reporting this. Just pushed a commit to fix this.
Oh! this is issue number 100 :smile:

[2018-01-07 14:45] #100 closed

[2018-01-07 18:40] nashamri commented on #79
Added a new color `blue-bg-s` that should solve this issue.

Thanks @duianto :+1:

[2018-01-07 18:40] #79 closed

[2018-01-07 18:48] nashamri commented on #53
@Stebalien is this still an issue? I've just tried the `develop` branch of spacemacs and it seems the issue is gone, as shown in the screenshot below:
![archlabs_2018-01-07-28_1920x1080](https://user-images.githubusercontent.com/1207107/34652823-6aaca74c-f3f4-11e7-9db5-d036acfd0db4.png)

[2018-01-07 19:24] Stebalien commented on #53
Sorry, forgot to close. Thanks!

[2018-01-07 19:24] #53 closed

[2018-01-16 00:41] it6 opened #101 "wrong keyword highlight in jsx/js-mode"
Is there any way to disable keywords highlighting when writing jsx inside js-mode(yes plain old js-mode). See the image below how `for` and `in` are highlighted in the text.

<img width="534" alt="jsx-keyword-highlight" src="https://user-images.githubusercontent.com/5510191/34966740-eda00e36-fa2b-11e7-81df-d07807c86985.png">

[2018-01-16 00:51] it6 opened #102 "typescript mode highlight not visible when expand region"
In typescript (tide) mode, I am not able to see distinction between current highlight and text highlighted using expand region.

![spacemacs-expand-region](https://user-images.githubusercontent.com/5510191/34966897-431dc578-fa2d-11e7-83b7-aced2860f5fe.gif)

Below is the desired behavior.

![good-expand-region](https://user-images.githubusercontent.com/5510191/34966909-4ededdb6-fa2d-11e7-9091-1b231

[2018-01-16 13:17] nashamri commented on #101
Hello @it6,

This seems a bit outside the scope of spacemacs-theme. I did a quick check and this is what I got:
![screenshot_2018-01-16_16-12-07](https://user-images.githubusercontent.com/1207107/34990679-087f6a6a-fad8-11e7-92b1-14a476acaf0e.png)

I was using the `develop` branch of spacemacs. If you are not using spacemacs, you might want to take a look at the javascript layer and see what kind o

[2018-01-16 13:24] nashamri commented on #102
Hello @it6 thanks for reporting this :+1:
What's the name of the theme that has the correct behaviour?

[2018-01-16 13:30] it6 commented on #102
Most of the built in themes, for example `adwaita` has the correct behavior.

[2018-01-16 13:32] it6 commented on #101
I am not using spacemacs(except for the theme), I see the javascript layer in spacemacs is using js2 mode which would fix this issue. I was wondering if a fix is possible for native js-mode not js2-mode.

[2018-01-16 15:38] nashamri commented on #101
@it6 the clean and correct way to solve this, I think, is to change how the mode highlights the text. It might be possible to force the change by setting the keywords face to match the base face. But I'm not sure about how to approach this.

[2018-01-16 17:05] nashamri commented on #102
@it6 I think I need a bit more explanation here :smile:  How did you make the current selection?
As the gif below shows, it seems to be working when I highlight some text after searching for it and then expanding.
![01](https://user-images.githubusercontent.com/1207107/35001369-a59b7536-faf7-11e7-94fd-cc97ea6b7957.gif)

When I highlight some text say by the mouse or when I'm using evil mode (in VI

[2018-01-17 01:48] it6 commented on #102
I use expand region https://github.com/magnars/expand-region.el to expand selection from the current point to the surrounding s-expression. That is when the highlight is invisible.

[2018-01-17 12:17] nashamri commented on #102
Thanks @it6 :smile: yes I used magnar's region expand to grow the selection in the two gifs above. My question is about the "currently highlighted" text, before you expand the selection (the "espresso-popover-container" text). How did you highlight that text?

[2018-01-17 18:55] it6 commented on #102
I didn't have to do anything for that, it is already being highlighted by typescript (tide mode).

[2018-01-17 19:16] nashamri commented on #102
Oh I see, so `tide-mode` is responsible for the highlighting, which means there's a face provided by the theme. I didn't support `tide-mode` yet, so let me have a look at it again.
The theme should work just fine independently from spacemacs :smile:

[2018-01-17 19:18] nashamri commented on #102
I see there's a face called `tide-hl-identifier`, could this be the one?

[2018-01-17 20:10] it6 commented on #102
Yes, that is it. I disabled `tide-hl-identifier` now I see the expand region highlighting. Is there a way for `tide-hl-identifier` and `expand-region` to use different variations of highlight so they are both visible.

Thanks for your help.

[2018-01-17 20:15] nashamri commented on #102
Yeah I'm working on that right now, I'll push a fix for this soon.

[2018-01-17 20:24] nashamri commented on #102
Okay so this is what I acheived so far.
When I highlight an identifier manually, this is the behavior now:
![03](https://user-images.githubusercontent.com/1207107/35065125-50f0db8e-fbdd-11e7-8e23-d3680b7a40be.gif)

When I enable the `tide-hl-identifier-mode` (which will highlight the identifier under the cursor), this is the behavior:
![04](https://user-images.githubusercontent.com/1207107/3506517

[2018-01-17 21:01] it6 commented on #102
looks awesome, thank you.

[2018-01-17 21:36] nashamri commented on #102
All righty! it's all fixed now :smile: thanks @it6

[2018-01-17 21:36] #102 closed

[2018-01-17 21:40] nashamri commented on #101
@it6 I think this should be reported in the `js-mode` repo instead.

[2018-01-17 22:08] it6 commented on #101
I doubt there is a js-mode repo, it comes builtin with emacs.

[2018-01-17 22:24] nashamri commented on #101
Yeah you are right :smile: well, the only thing I can think of is forcing the `font-lock-keyword-face` to have the same look as the base font. But that will remove any theming from all keywords. So, if you really want `js-mode` and you are not willing to use `js2-mode` or some other mode, I think there is no obvious solution for issue, other than a fix in `js-mode` of course.

[2018-01-17 22:37] it6 commented on #101
yes, honestly I am cool with the way it is, not a big deal thanks for your help.

[2018-01-17 22:37] #101 closed

[2018-01-24 06:54] ckruse opened #103 "Package disappeared from melpa?"
Hi there,

I did an package update this morning and it failed to update `spacemacs-theme`. It seems that this package disappeared from melpa, is that possible?

Best regards,

[2018-01-24 07:38] ckruse commented on #103
Ok, this is probably because of https://twitter.com/melpa_emacs/status/956031413085724672 - sorry for the noise

[2018-01-24 07:38] #103 closed

[2018-01-24 11:22] nashamri commented on #103
Good thing I was sleeping when this happened :smile:
Thanks @ckruse

[2018-02-02 04:33] petrucci4prez commented on #99
Would like to reopen this issue because I think there is a better solution. In org mode, the third level headlines are nearly the same color as the yellow-green avy highlight, so it is a pain to read here and in whatever other modes the yellow-green text appears:
![image](https://user-images.githubusercontent.com/6629118/35716514-63b3b36a-07a7-11e8-819f-151b7a53e04a.png)

Many other themes seem to

[2018-02-06 18:05] philiparvidsson opened #104 "spacemacs-theme-comment-italic changes comment color"
using the light theme, I love the green color of the comments. I also prefer italic comments, but setting `spacemacs-theme-comment-italic` to `t` changes the color of the comments. is this a bug?

[2018-02-16 14:32] casouri commented on #99
@petrucci4prez If you enable `avy-background` such as `(setq avy-background t)`.
Any candidates looks clear even in org mode.

<img width="689" alt="screen shot 2018-02-16 at 9 31 01 am" src="https://user-images.githubusercontent.com/13118647/36312382-4c7a1292-12fc-11e8-96d3-86c637043b94.png">

[2018-02-16 14:33] casouri commented on #99
I don't think it's a problem so I'll close this.

[2018-02-16 14:33] #99 closed

[2018-02-22 08:13] philiparvidsson commented on #104
any word on this?

[2018-02-22 17:54] nashamri commented on #104
Hello @philiparvidsson sorry my late reply :smile:
Yeah I guess this is a bug. Interestingly it doesn't happen with the dark variant of the theme.
I'm looking into it now.

[2018-02-22 18:01] nashamri commented on #104
It's a feature!!
https://github.com/nashamri/spacemacs-theme/pull/83
lol I completely forgot about this. But I think the colors should be consistent across variants.

[2018-02-22 18:03] philiparvidsson commented on #104
@nashamri what can I do to get the default color but with italicized text?

[2018-02-22 18:07] nashamri commented on #104
yeah, you can add this in your `dotspacemacs/user-init`:

[code]

[2018-02-22 19:51] philiparvidsson commented on #104
Thanks!

[2018-02-22 19:51] #104 closed

[2018-03-22 17:27] harveyslash commented on #82
very new to spacemacs. can you tell me where to put this option to enable italics in comments ?

[2018-03-22 18:08] rafaelrinaldi commented on #82
@harveyslash You can press <kbd>⌘</kbd>+<kbd>,</kbd>. You'll get to the settings panel, then you just search for `spacemacs-theme-comment-italic` on the search field.

[2018-05-08 14:40] NerdsvilleCEO opened #114 "Italics for keywords"
Would it be feasible to add italics option for keywords to support fonts like [Dank mono](http://dank.sh)?

I was thinking I could build this out and go off of the changes here https://github.com/nashamri/spacemacs-theme/issues/82

[2018-05-29 16:45] nashamri commented on #114
@NerdsvilleCEO Yeah of course, sorry I didn't have the time to work on the theme lately. Hopefully, soon I'll get enough time. I'm always open for PRs.

[2018-06-02 06:55] syl20bnr opened #115 "Add support for evil-goggles"
I just added `evil-goggles`, would be cool to have a better color for the flashing effect.
Seems not so trivial to add colors for it though: https://github.com/edkolev/evil-goggles/blob/master/evil-goggles.el#L260

[2018-06-02 20:42] nashamri commented on #115
Sure thing

[2018-06-03 06:28] syl20bnr commented on #115
I had the same behavior until I test with pulse disabled. Seems that pulsing cannot change the foreground color which makes it more annoying than useful. I disabled it by default in Spacemacs so we will have the full contrast with the correct foreground color.

Thank you for the quick addition! 💜

[2018-06-03 12:56] nashamri commented on #115
Yeah you are right :smile: disabling pulse did solve the problem.

[2018-06-03 12:56] #115 closed

[2018-06-03 13:29] #114 closed

[2018-06-03 13:32] nashamri commented on #114
@NerdsvilleCEO I just added a new them var `spacemacs-theme-keyword-italic` that toggles this. It's off by default. So make sure to toggle it on to try it out.

Thanks for this :smile: let me know if you see something wrong.

[2018-06-03 14:20] NerdsvilleCEO commented on #114
Dang it lol I literally was going to do this today! Beat me to it, but I'm not going to complain :) trying it now!! :))

[2018-06-03 14:45] nashamri commented on #114
lol better luck next time :smile:

[2018-06-07 15:12] NerdsvilleCEO commented on #114
Hey @nashamri I am having trouble getting this to work in code buffers, seems to work in the messages buffer, but in a code file, keywords don't change to italics

[2018-06-07 15:16] nashamri commented on #114
@NerdsvilleCEO Can you show me a screenshot, please?

[2018-06-07 15:18] NerdsvilleCEO commented on #114
<img width="1680" alt="screen shot 2018-06-07 at 11 18 08 am" src="https://user-images.githubusercontent.com/5251847/41109231-7fe37624-6a44-11e8-9026-8c4afa6ab2ca.png">

[2018-06-07 15:22] NerdsvilleCEO commented on #114
comment italics don't work for me either, but if I set font to italic face the chars show as italic

[2018-06-07 15:23] NerdsvilleCEO commented on #114
<img width="693" alt="screen shot 2018-06-07 at 11 23 27 am" src="https://user-images.githubusercontent.com/5251847/41109531-38f04d36-6a45-11e8-9a62-830ac05c587d.png">

[2018-06-07 15:27] NerdsvilleCEO commented on #114
<img width="1680" alt="screen shot 2018-06-07 at 11 27 32 am" src="https://user-images.githubusercontent.com/5251847/41109779-ce3cabf0-6a45-11e8-9d25-8249edc71066.png">

[2018-06-07 15:30] NerdsvilleCEO commented on #114
I think there must be some mismatch between the variables and the value causing it to always default to false and choose normal slant, must be the naming or something

[2018-06-07 15:31] NerdsvilleCEO commented on #114
<img width="873" alt="screen shot 2018-06-07 at 11 31 34 am" src="https://user-images.githubusercontent.com/5251847/41110004-5e1cb120-6a46-11e8-886b-e9c5ad22fc04.png">

[2018-06-07 15:34] nashamri commented on #114
hmm it's working fine on my end. Recorded a little gif of that.
![italic-keywords](https://user-images.githubusercontent.com/1207107/41110176-70bce80a-6a81-11e8-8ba6-e0929656631f.gif)

[2018-06-07 15:37] NerdsvilleCEO commented on #114
Looks like if I reload the theme it works, is there a way to reload automatically on startup so it registers the config?

[2018-06-07 15:41] nashamri commented on #114
Yeah, just add `(setq spacemacs-theme-keyword-italic t)` to your `dotspacemacs/user-init` in your `.spacemacs`.

![screenshot_2018-06-07_18-40-50](https://user-images.githubusercontent.com/1207107/41110549-56dc5ea6-6a82-11e8-90d8-0712db117e19.png)

[2018-06-07 15:42] NerdsvilleCEO commented on #114
Alright, thank you so much! 👍

[2018-06-07 15:45] nashamri commented on #114
You are welcomed :smile:

If you are using the `customize` interface to change options, just make sure you save the canges for future sessions. This video might be helpful:
https://www.youtube.com/watch?v=mMcc0IF1hV0

Cheers!

[2018-06-07 19:48] williamJmelton commented on #82
I am still unsure how to make the comments italic. I have placed @nashamri code in my init file but does nothing - I have also tried @rafaelrinaldi suggestion and cannot find spacemacs-theme-comment-italic in the settings page when searching.

[2018-06-07 19:51] rafaelrinaldi commented on #82
It looks like this got removed from the theme options?

[2018-06-07 21:08] williamJmelton opened #116 "Cannot set comments or keywords to italic"
I see in the documentation that using M-x we can search for the var to change the comments and keywords to italic - however, when searching for these variables in the customize buffer the variables are not there.

I thought maybe that spacemacs uses an old version of the theme without this capability so I replaced the theme files in my spacemacs-master/core/libs/spacemacs-theme folder with the fil

[2018-06-07 21:30] nashamri commented on #116
Yeah the latest changes are there for the `develop` branch of spacemacs. However, if you replace the `spacemacs-common.el` file with the one in the folder `core/libs/spacemacs-theme` and restart spacemacs, I guess it should work.

[2018-06-07 21:34] nashamri commented on #116
And in your `.spacemacs` add the vars you want in the `user-init` function:
![](https://user-images.githubusercontent.com/1207107/41110549-56dc5ea6-6a82-11e8-90d8-0712db117e19.png)

[2018-06-08 03:01] williamJmelton commented on #116
Switched to development branch & everything is as expected. Thanks!

[2018-06-08 03:01] #116 closed

[2018-06-18 17:28] valignatev opened #118 "diff-hl colors are barely noticeable"
Hi! Thanks for this awesome theme!
Maybe it's just me, but diff-hl colors seem to be barely noticeable with the dark theme:
![image](https://user-images.githubusercontent.com/7038954/41551506-6a1288ce-736f-11e8-81e7-278544a0f7cf.png)
You can only see borders, but not the background. Light theme diff-hl colors are a bit brighter, but I have to really concentrate on them:
![image](https://user-image

[2018-06-18 18:28] nashamri commented on #118
@valignatev Hey, thanks for the kind words :purple_heart: . Yeah I agree, a middle ground solution would be the best thing to go for. There are already brighter variants of the background colors (ending with the `-s` suffix), so this should be easy. Fixing it now :smile:

[2018-06-18 18:30] #118 closed

[2018-06-18 18:30] nashamri commented on #118
That should do it :smile:

[2018-06-19 02:37] valignatev commented on #118
Wow, that was super fast! Looks perfect now, thanks a lot :heart:

[2018-07-02 15:12] valignatev opened #119 "flycheck fringe bitmaps"
Hi! Currently, fringe error/warning bitmaps are not "round", and look like chevrons instead:
![image](https://user-images.githubusercontent.com/7038954/42171829-ae7dca8e-7e5d-11e8-83f6-f3aac3e20b8e.png)

I've checked the code, and it seems that spacemacs-theme only defines colors. It means that Spacemacs overrides the bitmap somewhere else, not in the theme. I think that putting it in the theme is

[2018-07-02 15:15] valignatev commented on #119
Related spacemacs code for the reference: https://github.com/syl20bnr/spacemacs/blob/bd7ef98e4c35fd87538dd2a81356cc83f5fd02f3/layers/%2Bcheckers/syntax-checking/packages.el#L38

[2018-07-02 18:38] nashamri commented on #119
@valignatev hmm, I'm not sure what's going on here. On my setup it looks as in the screenshots (rounded). I've attached a little screenshot of it:
![image](https://user-images.githubusercontent.com/1207107/42180447-9c7e3f74-7e37-11e8-9834-93d7bf901b82.png)
Do you see this on the `develop` branch?

[2018-07-03 03:02] valignatev commented on #119
Thanks for the fast response! I'm not using Spacemacs, I'm just using this theme with my custom emacs config. And this repo doesn't seem to have a develop branch

[2018-07-05 16:32] nashamri commented on #119
@valignatev Yeah I see, I thought you were using spacemacs, thus the mentioned `develop` branch :smile:. I'm not sure about this, because if I had this custom fringe indicator in the theme's code, this will be a duplicate of what's already there in spacemacs. Maybe as a middle ground, we can just take that code and put it in the README file of this theme for the users to add it themselves in their

[2018-07-05 17:30] valignatev commented on #119
Yeah, I actually think this is a great way to both avoid duplication and to educate people about Emacs UI capabilities a little bit.

[2018-07-05 19:03] nashamri commented on #119
Awesome, I'll do that once I come back from my holidays. Until then, please let this issue open :smile: :tropical_drink:

[2018-08-17 15:41] nashamri commented on #119
This should solve this issue:
ec1283ff8fa10a575e599b7b160e6082f1109409

[2018-08-17 15:54] #119 closed

[2018-09-13 13:02] dschrempf opened #122 "Comment background cannot be turned off"
Setting

      (setq spacemacs-theme-comment-bg nil)

Either in `dotspacemacs/user-init` or `dotspacemacs/user-config` has no effect.

[2018-09-14 12:03] nashamri commented on #122
Hmm, I put `(setq spacemacs-theme-comment-bg nil)` in my `dotspacemacs/user-init` and it works fine on my end. I'm using emacs 26.1 (spacemacs on `develop` branch).

[2018-09-14 21:42] TyOverby commented on #122
Same thing is happening to me.  I put it in my user-init and nothing happens.  I use m-x customize to set the value manually and nothing happens.

[2018-09-14 21:50] TyOverby commented on #122
I've tested this under `master` and `develop` branches.

[2018-09-14 21:56] TyOverby commented on #122
I can't repro this with a clean spacemacs config, so something must be going on in my config...

[2018-09-14 22:01] nashamri commented on #122
I've just tested it again with both variants of the theme. It works fine.
![s](https://user-images.githubusercontent.com/1207107/45577055-d2ff3500-b882-11e8-8c2c-7949ae86c7e3.gif)

[2018-09-14 22:03] nashamri commented on #122
I've just tested it again with both variants of the theme. It works fine.
![s](https://user-images.githubusercontent.com/1207107/45577055-d2ff3500-b882-11e8-8c2c-7949ae86c7e3.gif)

[2018-09-27 15:16] ssfrr commented on #62
This still seems like an issue. I tried `(setq spacemacs-theme-org-agenda-height nil)` and still got varying font sizes in the agenda view. adding
[code]

as @nuynait suggested worked for me.

This is with spacemacs 0.200.13

[2018-10-05 14:32] ianpan870102 opened #123 "Customization NOT automatically reloaded"
I really love this theme on my GNU Emacs, however I noticed whenever I restart Emacs, these two lines in my `custom-set-variables`:
[code]
would not be read and would require me to manually reload my `.emacs` file. After manual reloading the customization would then take place.
It doesn't bother me "that" much, after all it's just a few extra keystrokes, however it would be perfect if someone coul

[2018-10-05 14:53] nashamri commented on #123
Hey @ianpan870102 thanks for the kind words :smile:
This might be related to this issue https://github.com/nashamri/spacemacs-theme/issues/122. I'll try to investigate this later today.

[2018-10-05 15:18] nashamri commented on #123
@ianpan870102 I just tried this snippet below and it works fine. If you are using `use-package`, can you please try it in your config and let me know if it works with you or not?
[code]

[2018-10-05 17:50] ianpan870102 commented on #122
Try reloading your init file using `M-x load-file`. This is what works for me so far

[2018-10-05 17:53] ianpan870102 commented on #123
You're welcome :) The syntax highlight support is hands-down the best I've come across. Keep me updated while you investigate the 'bug'!
p.s. I'm using the default package manager with the `require` keyword and I'm not planning to migrate to use-package yet (though I might in the future, I've heard good things about it).

[2018-12-21 17:57] duianto opened #130 "search highlight invisible on ediff B (green background) buffer"
The search highlight is invisible when `/` searching in an ediff B (green background) buffer.

The `/` (`evil-ex-search-forward`) highlight uses the `evil-ex-lazy-highlight` face, which inherits from the `lazy-highlight` face, which has the attributes:
[code]

That's the same color as the `ediff-current-diff-B` (background) color.
[code]

![emacs_2018-12-21_18-25-41](https://user-images.githubuser

[2018-12-24 13:19] Jonta opened #131 "org-mode: Large text-sizes repeating in dark-mode"
Reproduce:

Put this into an org-file, in org-mode, with spacemacs-dark (current default) as theme:

[code]

Actual result: The largest text-size repeats from level 9

Desired result: Size shrinks from the start, but then stops at some point

Screenshot with numbers on different levels:

![screen shot 2018-12-24 at 13 57 16](https://user-images.githubusercontent.com/359397/50400395-a9f61680-0786-1

[2019-01-13 20:41] nashamri commented on #131
Hmm, well org-mode defines 8 levels of `org-levels-{1-8}` https://code.orgmode.org/bzg/org-mode/src/master/lisp/org-faces.el#L48
After the 8th level, it cycles back to the settings of the first level. I'm not sure there's a way to fix this in the theme only.

As a workaround, that might work for you @Jonta, is to remove the varying sizes of org headers by setting this var to `nil`:
[code]

Hope th

[2019-01-14 07:51] duianto commented on #130
The search highlight is now visible against the green background, because the background colors were changed in: Unify ediff-current-diff-{A,B,C} background colors #129

[2019-01-14 07:51] #130 closed

[2019-01-15 06:49] duianto opened #133 "Update readme mention of ediff "...-bg-s" colors"
Since the ediff background colors were changed to not use the `...-bg-s` colors, the following paragraph in: https://github.com/nashamri/spacemacs-theme#override-themes-colors probably needs to be rewritten/removed.

[2019-01-16 19:24] nashamri commented on #131
As I was suspecting, this is an `org-mode` issue that should be reported upstream. Several well-known themes suffer from the same issue.
![screenshot_20190116_222113](https://user-images.githubusercontent.com/1207107/51273295-6be2c000-19dd-11e9-835e-e064d466e166.png)
![screenshot_20190116_222300](https://user-images.githubusercontent.com/1207107/51273305-70a77400-19dd-11e9-93b7-60e1328d6bbe.png)

[2019-01-16 19:24] #131 closed

[2019-01-16 20:39] #133 closed

[2019-01-16 20:40] nashamri commented on #133
Fixed it :+1:

[2019-01-31 01:47] codygman opened #134 "Scrolling large org file takes significantly longer than vanilla emacs+evil+spacemacs-dark theme"
Test:

Open large org file, shift to CONTENTS view, scroll through with `C-v`. After loading spacemacs-dark theme it took me 4 seconds longer over 10 test repetitions using `(benchmark-run 10 my-large-org-benchmark-func)`.

Edit: benchark

[code]

Not sure if this is a priority or what could be done about it, but thought I'd post an issue to see.

[2019-02-11 15:02] deescuderoo commented on #122
I'm trying to use this theme with [heaven-and-hell](https://github.com/valignatev/heaven-and-hell). This is my snippet for that is the following:
[code]

However, the background for the comments only works with the light theme, but not with the dark theme. Any hint about how to do this correctly? Thanks a lot, and I apologize by the way, I'm a newbie with customizing Emacs and it may be the case t

[2019-03-05 06:33] ema2159 opened #136 "Solaire mode support"
It would be really cool if there was solaire mode support for this theme!

[2019-03-12 15:42] duianto opened #137 "Add support for evil-mc"
With the `spacemacs-dark` theme, the characters on the `evil-mc` additional cursors are hard to see.

![evil-mc support](https://user-images.githubusercontent.com/13420573/54211320-62f40380-44e1-11e9-9fbb-3d1126296995.png)

#### Reproduction steps

- Start Spacemacs on the develop branch
(from at least Aug 2018 when the `multiple-cursors` layer was added)
- Open the scratch buffer
- Type:
[code]
-

[2019-03-12 15:53] duianto opened #138 "Light theme, selection, cursor location, underscore color"
With the `spacemacs-light` theme, when there's an active selection. Then the color of the underscore that shows the cursors location, is to similar to the selection color:

![light theme cursor underscore color](https://user-images.githubusercontent.com/13420573/54214494-9be2a700-44e6-11e9-8e9e-8afc05aff5b6.png)

This makes it difficult to see if the cursor is at the start or end of the selection.

[2019-04-04 03:02] jjzmajic opened #139 "Cannot use spacemacs-theme-custom colors with variables"
Regardless of whether I use `custom-set-variables` or `setq` custom colors are only applied if I explicitly quote an `alist`. I cannot pass in a variable that contains an alist.

[2019-04-04 19:15] jjzmajic commented on #139
I just discover that the issue has nothing to do with variable passing. If I assign the value before a call to `load-file` (currently developing a wal-based theming engine that can be used without spacemacs theme, but meshes well with it) it works, but if I call it after it fails.

[2019-04-05 11:22] jjzmajic commented on #139
For the the record, I'm using `wal-theme-load-spacemacs-theme-colors` from this package: https://gitlab.com/jjzmajic/wal-theme.el, which I am loading with `load-file` for now. Interestingly enough, the variable does get set, it just seems it doesn't get set in time to change `spacemacs-theme`.

[2019-04-14 03:45] noctuid commented on #139
I was trying out ewal and ran into this. The current definition of `dyn-let` makes it so that `spacemacs-theme-custom-colors` has to be set before loading `spacemacs-theme` because the value is computed at macro expansion time instead of when the expansion runs. I think it would be better to remove `dyn-let` entirely and just do something like this inside a let with the default values:

[code]

Th

[2019-04-14 03:47] jjzmajic commented on #139
Amazing! Should I make the changes in a PR branch to test them out? Also what do you think of the real?

[2019-04-14 15:03] noctuid commented on #139
Feel free to make a PR. I won't be able to get around to it immediately.

It looks really good for some of the themes I've tried, and it looks better than the Xresources theme for the colors I've tried (often *a lot* better). It's also nice that it's easy to change the theme on the fly when using the daemon (e.g. `emacsclient --eval '(my-func-to-regenerate-spacemacs-theme)'`). There seem to be les

[2019-04-14 16:00] jjzmajic commented on #139
The fewer colors thing is intentional for a more modern look, but you bring up a fair point in that it shouldn't be forced on the user. What do you think about making two functions? One modern/minimal, and the other with all the bells and whistles? If you wanna see all the available colors use `describe-variable` on `ewal-extended-palette` and turn on `rainbow-mode`. Adding more shades is a single

[2019-04-17 16:31] deescuderoo opened #141 "org-hide face is affected after switching themes"
My init file contains
[code]

When I want to switch to `spacemacs-light`, I do `M-x load-theme` and then select `spacemacs-light`. Everything seems to work well, but the only issue is that the clean view in org-mode is not working properly: The leading asterisks for headlines are visible, as shown [here](https://postimg.cc/QF3wY3N5).

This may be related with the `org-hide` face not being set up p

[2019-04-18 02:24] deescuderoo commented on #141
I fixed it. I just changed
[code]
by
[code]

[2019-04-18 02:24] #141 closed

[2019-05-16 23:54] rymndhng opened #143 "Improve color support for lsp-mode"
The defaults set by the library are a bit hard on the eyes currently. Notice the yellow font in the top right:

Example:
![Screen Shot 2019-05-16 at 4 53 59 PM](https://user-images.githubusercontent.com/1694040/57894292-37e8a180-77fb-11e9-9ea9-ca5e94baa5a3.png)

[2019-05-28 01:51] nashamri commented on #123
Hey @ianpan870102, can you check if this https://github.com/nashamri/spacemacs-theme/pull/144 fixes the issue?

[2019-05-30 16:31] idanko opened #145 "evil-ex-lazy-highlight isn't supported for a terminal"
I run emacs with a doom configuration manager on my gnome-terminal with 256 color support. And when I use the asterisk key in the vi normal mode which is bind to `(evil-ex-search-word-forward &optional COUNT SYMBOL)` it doesn't highlight the selected symbol (I suppose it's the same for iTerm2). The `evil-ex-search-word-forward` in turn is under the `evil-ex-lazy-highlight` group which is currently

[2019-06-10 00:37] nashamri commented on #123
@ianpan870102 I just merged #144. Just wait a bit for MELPA to reflect the new update and you can easily test it.

[2019-06-10 09:22] #145 closed

[2019-06-10 09:22] nashamri commented on #145
@idanko it should be okay now :smile:

[2019-06-10 22:10] #137 closed

[2019-06-10 22:10] nashamri commented on #137
All done. Thanks @duianto for your detailed issue report :purple_heart:

[2019-06-11 01:03] gagbo commented on #78
A solution for this would be to specify the 2 classes in the theme. That's what was done in [srcery-theme](https://github.com/srcery-colors/srcery-emacs/blob/master/srcery-theme.el), and what I eventually did for my personal theme which follows more closely your architecture. It makes the code a lot more [verbose](https://framagit.org/gagbo/acario-theme/blob/master/acario-themes.el) but I don't ha

[2019-06-11 02:04] nashamri commented on #78
Could this be related? https://github.com/nashamri/spacemacs-theme/pull/144. I think some of the loading issues for the theme are solved by this.

[2019-06-11 06:25] gagbo commented on #78
It is probably related, I removed the "dyn-let" before too, and I still had to reload the theme to have the changes appear properly between term and GUI. I have no need to reload anything with the 2 classes in the face definition

[2019-06-11 11:11] duianto commented on #137
It might be better to use a non evil-state color for the fake cursors. Otherwise there might be a risk of confusion whether one is in normal or insert state.

Normal | Insert
-|-
![normal](https://user-images.githubusercontent.com/13420573/59263771-002a1980-8c42-11e9-8dba-a8533c6e54f7.png) | ![insert](https://user-images.githubusercontent.com/13420573/59263775-03250a00-8c42-11e9-8d6a-5ebe85b7afde.

[2019-06-12 19:54] #139 closed

[2019-06-12 19:56] nashamri commented on #137
@duianto yeah I see what you are saying. Will update it.

[2019-06-12 20:16] nashamri commented on #137
Done with https://github.com/nashamri/spacemacs-theme/commit/c5baa2f12a2e0b306f51977efa43699641b982eb

[2019-06-13 14:05] duianto commented on #137
Normal | Insert
-|-
![normal](https://user-images.githubusercontent.com/13420573/59438662-37d8c300-8df4-11e9-85a4-06591f4d0cd9.png) | ![insert](https://user-images.githubusercontent.com/13420573/59438669-3b6c4a00-8df4-11e9-896c-a04b6b9733ea.png)
![normal-adjacent-cursors](https://user-images.githubusercontent.com/13420573/59438855-8be3a780-8df4-11e9-929c-cf7394ae1a0a.png) | ![insert-adjacent-curso

[2019-06-17 06:34] nashamri commented on #136
You did it :smile: https://github.com/nashamri/spacemacs-theme/pull/146

[2019-06-17 06:34] #136 closed

[2019-06-17 15:44] ema2159 commented on #136
I did it quite some time ago but forgot to share it. A couple of days ago the theme got updated and it overwrited it so I redid it shared it so it doesn't happen again jaja 😅

[2019-06-19 07:33] nashamri commented on #143
Hello @rymndhng it seems like this might be an `lsp-mode` issue. I might be mistaken as I don't use `lsp-mode`, but the only faces that this mode defines are:
[code]
And none of these faces are responsible for that yellow color. Can you please put your `point` (or cursor :smile: ) on that yellow text in the screenshot and invoke this command `M-x describe-char` and post the output?

[2019-07-08 18:42] Wheest opened #148 "Strange Line wrapping using org-mode tags"
I am getting some strange line-wrapping when using org-mode headline tags and this theme.

You can see an example of what I mean here:

![Screenshot_20190708_203632](https://user-images.githubusercontent.com/16022573/60834283-a7a65780-a1c0-11e9-8025-a7e8f4865d8d.png)

With the raw org source being:
[code]

This occurs when multiple windows are open, but is fine when a single buffer is shown.

Am n

[2019-07-09 17:36] tdd11235813 opened #149 "spacemacs-theme-custom-colors+variable => wrong-type-argument (emacs 26.2)"
As of emacs 26.2 an association list combined with an if-condition fails where the face is defined. The error is:
[code]
The init.el configuration with spacemacs-common:
[code]
It seems it just expects a string, because a simple variable will now fail too:
[code]
I need the condition expression in the face to interactively switch theme settings. However, I am already trying to find other ways how

[2019-07-09 19:56] tdd11235813 commented on #149
Referring to issue #139: The related PR #144 is the issue, because it was working before the change for me.
Additionally, it seems that not every variable becomes overwritten now. For instance, the color for `var` cannot be overwritten after that change.
I replaced the `spacemacs-common.el` with the older version, where `dyn-let` was used.
Here, everything works again. So why the behavior here is

[2019-07-10 01:16] ema2159 opened #150 "Cannot load spacemacs-theme with use-package"
I get this error:
`Error (use-package): Cannot load spacemacs-theme`

[2019-07-10 06:53] tdd11235813 commented on #149
I have prepared a [minimal example](https://github.com/tdd11235813/emacs_config/commits/test-space-theme):
[code]
See git log and the commentary in init.el header. There are three commits. First commit tests just custom theming with spacemacs-theme. Second one tests the variable issue. Third commit tests combination with heaven-and-hell theme switcher.

I have also checked a newer dyn-let version,

[2019-07-10 07:13] tdd11235813 commented on #150
you can try:
[code]

[2019-07-10 14:08] ema2159 commented on #150
Nice workaround. It also works with `(use-package spacemacs-dark/light ...`

[2019-07-10 14:08] #150 closed

[2019-07-12 10:09] tdd11235813 commented on #149
I have updated the minimal example branch. The combination with heaven-and-hell is also resolved.
Using variables within is still not possible.

[code]

[2019-07-12 20:01] nashamri commented on #149
Thanks @tdd11235813 for investigate this issue. I'm travelling currently, I'll look into it when I get back.

[2019-08-19 14:42] madalu opened #151 "Color represented by variable "var" cannot be given a custom value"
Commit 82234551 (referenced in issue #139) made it possible to set custom colors via a cl-loop:

    (cl-loop for (var . val) in spacemacs-theme-custom-colors
             do (set var val))

However, the locally bound "var" in the in cl-loop makes it impossible to change the color of the "var" previously defined in the function on line 145:

        (var           (if (eq variant 'dark) (if (true-

[2019-08-20 08:18] nashamri commented on #151
And you already fixed it @madalu. Good job and thank you for this :clap:

[2019-08-20 08:18] #151 closed

[2019-08-20 23:14] galexy commented on #62
I was able to get the variable to work. It needs to be set in (defun dotspacemcs/init() ...

[2019-08-21 00:27] galexy commented on #62
The variable needs to be set in dotspacemcs/init(). The variable needs to be set before the package is loaded.

[2019-09-03 07:11] duianto opened #153 "Button text turns red on mouse click"
Mouse clicking on the Spacemacs buffers `[Update Packages]` button, turns the text red.

![red color on mouse click spacemacs buffer button](https://user-images.githubusercontent.com/13420573/64149150-7abf9b00-ce25-11e9-834b-c26029bd6975.png)

The face seems to be: `widget-button-pressed`.

![widget faces](https://user-images.githubusercontent.com/13420573/64150215-10f4c080-ce28-11e9-9541-84fe0352

[2019-09-06 14:54] duianto opened #154 "Cursor and text disappears on bright green evil-ex-lazy-highlight"
The `evil-ex-lazy-highlight` face needs to be corrected for the dark theme.

The evil normal state cursor seems to use the current background color for the text on the cursor, this causes text on the cursor to almost disappear.

![normal](https://user-images.githubusercontent.com/13420573/64435913-9ea00c80-d0c3-11e9-84b9-88d97616ac9a.png)

And the green evil insert state cursor is almost invisible

[2019-10-25 23:49] mnewt opened #155 ":extend keyword for Emacs 27"
As of a fairly recent Emacs 27.1, faces now require the :extend t property to extend to the end of the line. I'm currently doing this but there are probably others faces that need it set too:

[code]

These properties should be added to the themes themselves though. Is there any reason not to go ahead and do this?

[2019-10-26 08:04] nashamri commented on #155
Hello @madalu

I just learned about this, and there is not reason not to implement it :smile: a PR would be appreciated if you want to tackle this.

It probably be as simple as changing https://github.com/nashamri/spacemacs-theme/blob/32ddc1a9b9f4f58ebe8410abc1124b7acf0f36b1/spacemacs-common.el#L195

To:
[code]

The same goes for the other faces.

[2019-10-28 21:23] mnewt commented on #155
@nashamri Great! I'll send a PR shortly

[2019-11-07 17:48] nashamri commented on #155
We can close this now, thanks again @mnewt the PR has been merged.

[2019-11-07 17:48] #155 closed

[2020-03-15 03:14] hyperbeamf opened #161 "Exporting to MELPA Stable"
Spacemacs theme doesn't seem to be on MELPA stable. Is it possible to make this theme able to be downloaded from there?

[2020-03-15 08:54] nashamri commented on #161
@hyperbeamf I'm planning to do that after the next release of spacemacs.

[2020-03-22 14:09] nashamri commented on #153
Thanks @duianto I just fixed this.

[2020-03-22 14:09] #153 closed

[2020-03-22 14:16] nashamri commented on #148
I just tried the above snippet, and I don't see the described behavior.
I'm going to close this. If this is still an issue, don't hesitate to comment :smile:

[2020-03-22 14:16] #148 closed

[2020-03-22 14:33] ianyepan opened #162 "[Includes suggested fix]: Ediff highlights rather unreadable"
Here is a screenshot that showcases the highlights in ediff. Sadly, the high contrast of colours appear to be rather unreadable.

<img width="1280" alt="Screenshot 2020-03-22 at 22 26 28" src="https://user-images.githubusercontent.com/36686900/77252033-bff5ce00-6c8c-11ea-9b2e-6f344b148e5e.png">

### My fix:

I've been experimenting with the colours and decide to use the ones from **magit** diffs:

[2020-03-23 12:48] duianto commented on #153
That's better than the red color. 👍

This is what it looks like with this fix:

![2020-03-23_12-52-33](https://user-images.githubusercontent.com/13420573/77315404-d12ff080-6d07-11ea-8902-08648f5d9138.png)
![2020-03-23_12-52-48](https://user-images.githubusercontent.com/13420573/77315414-d4c37780-6d07-11ea-835f-ab760c3f8bc4.png)

In the dark theme, the base text color is different from the color of

[2020-03-24 11:06] nashamri commented on #153
Yeah that makes sense, I'll update it now, thanks @duianto for your feedback :+1:

[2020-03-24 11:08] nashamri commented on #153
Just amended the previous PR.

[2020-03-31 19:19] Naheel-Azawy opened #163 "Weird colors out of spacemacs"
What I did (no spacemacs, just pure emacs):

[code]

What I got:

![image](https://user-images.githubusercontent.com/5764614/78066288-5157f500-739d-11ea-8ccb-66da37b649b9.png)

The problem is that the colors are kind of too bright and weird. Any idea?

[2020-03-31 19:27] nashamri commented on #163
Hello @Naheel-Azawy, if you are running emacs in the terminal, yeah the colors are a bit limited and this is how they look :smile:
![image](https://user-images.githubusercontent.com/1207107/78067014-af390c80-739e-11ea-9230-bb6c0154cd45.png)

[2020-03-31 20:14] Naheel-Azawy commented on #163
@nashamri I tried running it with GUI before posting this and the colors were the same as in the question. After several trails I noticed that the only way to get the right colors is by running `emacs` alone (no client and no `-nw`). The image shows all cases.

Note that I used to use spacemacs. It had a very weird behavior. Running `emacsclient -nw` after starting the daemon shows the same weird

[2020-03-31 21:10] nashamri commented on #163
Umm, I'm not sure I see anything wrong with the screenshot. The theme has 4 variants:
- Dark for terminal
- Dark for GUI
- Light for terminal
- Light for GUI

https://github.com/nashamri/spacemacs-theme/blob/master/spacemacs-common.el#L102

In the screenshot, only the first one (the `emacs` labelled one) is using the GUI variant. The rest are using the dark terminal variant.

Regarding the issue t

[2020-03-31 21:16] nashamri commented on #162
Your fix does look much better, I just need to find the time and prepare the alternative set of colors for the light variant. :+1:

[2020-03-31 22:12] Naheel-Azawy commented on #163
I didn't notice that there was a different variant for terminal... Now it's clear thanks!

Anyway, the problem here can be seen is that when started with `emacsclient -c` it still used the terminal variant. I think this is related to #78 as well. I think the problem is that the theme is loaded when the daemon is started and `true-color-p` is `nil`. when `emacsclient -c`, the theme is already loade

[2020-04-01 10:03] nashamri commented on #163
What happened when you set  `(defun true-color-p () 1)`?

The question is, is there a situation where one have the ability to show GUI colors and rather use the TER variant instead? Sure maybe someone likes the terminal variant more, but honestly, they were meant to be a graceful fallback and not the preferred choice. We can add something like `spacemacs-theme-force-terminal-colors` but I'm not su

[2020-04-01 13:39] ianpan870102 commented on #162
Absolutely! P.s. Magit does have some good colour choices that might of help :)
Thx again for considering the change!

[2020-04-01 13:54] Naheel-Azawy commented on #163
The theme gets forced to use gui colors even in the terminal. On my terminal, `st`, GUI colors look perfect in the terminal. The screenshot above shows that.

Well, what I'm asking for is more like `spacemacs-theme-force-gui-colors`. This will save me from the nasty `(defun true-color-p () 1)`

[2020-04-01 18:46] nashamri commented on #163
Then this is a bug in the `true-color-p` function. The theme should always try to use GUI colors, so if we can fix this issue with `true-color-p`, there won't be a need for an additional option.

[2020-04-01 19:24] Naheel-Azawy commented on #163
That would be even better I guess!

[2020-04-04 12:52] Shinyhero36 opened #164 "Cannot open load file: No such file or directory, spacemacs-common"
When I try to apply the dark the theme, I got the following error:
`
Cannot open load file: No such file or directory, spacemacs-common
`
and the theme doesn't load everytime I restart emacs(26.3).

[2020-04-04 14:49] nashamri commented on #164
How did you apply it?

[2020-04-04 14:54] Shinyhero36 commented on #164
I try the following command on emacs `M-x package install RET spacemacs-theme` But it wasn't working.
So i downloaded the repo and put the .el files in the theme folder which is here:
`Emacs\share\emacs\26.3\etc\themes`.
I restarted emacs and go to `M-x customize-theme` ans selected the dark-theme.

[2020-04-04 15:54] nashamri commented on #164
I did a quick screencast showing how to do that in a couple of ways from a vanilla emacs installation. There are many other, look for what suits you best.

[2020-04-04 18-36-38.zip](https://github.com/nashamri/spacemacs-theme/files/4431851/2020-04-04.18-36-38.zip)

[2020-04-04 17:54] Shinyhero36 commented on #164
after I edited the init.el file and restarted emacs. Packages don't install.
I am on windows by the way.

[2020-04-04 19:21] nashamri commented on #164
I don't believe this is an issue with the theme. I would suggest you to look into how to install packages in general in emacs. Here are some popular package manager:
https://github.com/raxod502/straight.el
https://github.com/jwiegley/use-package

[2020-04-04 19:21] #164 closed

[2020-04-19 12:34] it6 opened #165 "How to change title frame color?"
I currently use dark theme, the black text on the title frame is hardly visible.

can anyone help, what is that variable called?

Thanks.

![titlebar](https://user-images.githubusercontent.com/5510191/79687923-2f4ce680-8268-11ea-840e-ce633640473a.png)

[2020-04-19 12:38] nashamri commented on #165
Hello there,
If this is the title shown in the window frame, then I don't think this is something you can do in the theme.

[2020-04-19 12:42] it6 commented on #165
Hi, yes this is the color on the window frame.

Ohh ok, thanks. I will close this issue.

Do you happen to know outside of this theme how to change this color, really appreciate, thanks.

[2020-04-19 12:42] #165 closed

[2020-04-19 12:49] nashamri commented on #165
I don't think this is possible from within Emacs, I think it's something that the window manager is responsible for, for your operating system.

[2020-04-19 12:57] it6 commented on #165
ohh ok, thanks a lot.

[2020-06-03 06:41] ianpan870102 opened #166 "Add support for highlight-thing"
**Highlight-thing** is a package that provides almost identical functionalities to **highlight-symbol**. IMO it's a good idea to add support for the former and style it exactly like the latter.

[2020-06-03 07:14] ianpan870102 opened #168 "[Readability] diff-hl difficult to read"
Hi @nashamri thanks for this great theme (again)!

I have noticed that **diff-hl (git gutter)** is kind of difficult to read. From my experience, many other Emacs themes and modern editors actually make the background of the gutter quite noticeable.

### Current Spacemacs theme appearance

Note the faded green and blue gutters on the left fringe (indicating addition and modification)

![image](htt

[2020-06-07 07:18] emelens commented on #123
My Package directory is in D drive.  '(package-user-dir "d:\\Users\\mlnsa\\.emacs.d\\elpa"))
I am not using spacemacs full set up. I have plain emacs and trying to install this theme
Everytime I restart emacs , I have to enable this again manually

[2020-06-07 07:25] emelens commented on #123
I noticed that spacemacs-common.el was not getting compiled and there was no .elc file created.
I pasted all that file contents into spacemacs-dark-theme.el.

This time, the theme got loaded fine.

[2020-06-07 14:41] ianpan870102 commented on #123
Hi @nashamri I must have missed your previous mentions...one year ago 😓
I've since migrated to using `use-package`, and this issue no longer exists.
Here's a sample config snippet I'm using right now:

[code]

@emelens I'm using vanilla emacs as well, if it helps, does my snippet above solve your issue? I'll close this issue for now but feel free to reopen a new one if you find something lacking.

[2020-06-07 14:41] #123 closed

[2020-06-12 20:21] nashamri commented on #168
@ianpan870102 heeey there :smile:
This looks great to me and yeah a PR is so welcomed!
Thanks for this and I'm so sorry for being late to check it out (life is a bit crazy here :smile:)

[2020-06-12 20:24] nashamri commented on #166
I think someone fixed this :roll_eyes: :smile:

[2020-06-12 20:24] #166 closed

[2020-06-13 04:21] ianpan870102 commented on #166
Haha yup I wonder who it was! Anyways thanks for merging hahaha

[2020-06-13 04:34] ianpan870102 commented on #168
Hi @nashamri I just created a Pull Request https://github.com/nashamri/spacemacs-theme/pull/169

No problem at all! Hope you're doing well :) Glad to contribute

[2020-06-15 13:04] #168 closed

[2020-06-22 06:50] tshu-w opened #170 "use-package cannot load spacemacs-theme after recently update"
config to reproduce:
[code]
GNU Emacs 27.0.91 (build 1, x86_64-apple-darwin19.5.0, NS appkit-1894.50 Version 10.15.5 (Build 19F101)) of 2020-06-20

[2020-06-22 09:25] nashamri commented on #170
@tshu-w try
[code]

[2020-06-22 09:52] tshu-w commented on #170
@nashamri  aha, I know. Thx for your quick reply, I'm not familiar with this.

[2020-06-22 09:52] #170 closed

[2020-06-27 12:20] yqu212 opened #171 "[feature request] add support for tab-bar-mode"
tab-bar-mode has been a part of emacs 27. It would be great to see spacemacs-theme support the new mode.

[2020-07-04 07:16] AlirezaRobix opened #172 "spacemax"

[2020-07-05 12:51] #172 closed

[2020-07-14 05:58] duianto opened #173 "Support helm-ls-git"
https://github.com/emacs-helm/helm-ls-git has two default colors that cause issues with the Spacemacs themes.

The faces are shown with colors in: `M-x helm-apropos`
search for: `helm ls`
press: `M-o` (it calls: `helm-previous-source`) to scroll to the last source: Faces

#### spacemacs-dark

The blue face: `helm-ls-git-added-modified-face` is hard to read.

![emacs_2020-07-14_07-26-17](https://us

[2020-08-04 02:28] jordanwade90 commented on #143
Most of the lsp-mode faces are defined in the lsp-ui package. That particular face is lsp-ui-sideline-code-action.

[2020-08-08 18:59] #143 closed

[2020-08-11 16:21] xaransh opened #176 "Modeline theme"
How are you getting the modeline look as in the previews? I am not getting the same after using the loading the theme.

[2020-08-11 16:46] lolbinarycat opened #177 "Add instructions for installing from file."
I'm trying to install this theme, but even after switching of of melpa-stable, the provided command dosn't work. It would be helpful if there were alternative installation instructions, perhaps for the command `package-install-file`

[2020-08-11 20:34] nashamri commented on #176
You can customize this variable `powerline-default-separator` to get different separators. The possible values are:
nil, alternate, arrow, arrow-fade, bar, box, brace, butt, chamfer, contour, curve, rounded, roundstub, wave, zigzag, slant, utf-8.

If you are using spacemacs, just add this to your `dotspacemacs/user-config`:
[code]

[2020-08-12 12:31] #176 closed

[2020-08-16 21:44] duane opened #178 "How do you activate the theme?"
I have it installed, but "load-theme spacemacs" and "load-theme spacemacs-theme" do nothing to load the theme.

[2020-08-16 21:52] duane commented on #178
Additionally, "color-theme-select" has no knowledge of the theme. "color-theme-spacemacs-dark" do nothing to activate the theme. It is unclear how you are supposed to activate the theme.

[2020-08-25 18:18] #171 closed

[2020-10-10 01:06] monkeyjunglejuice commented on #163
@Naheel-Azawy
@nashamri

When Emacs is starting up as a daemon from command line `emacs --daemon=srv1` and init.el is run, there is no GUI active. That means terminal colors will be set, because `true-color-p` evaluates to `nil` at this time. So if you connect an Emacsclient 'emacsclient -s srv1 -c`, the theme will have the wrong (terminal) colors.

Once there's a GUI Emacsclient, `true-color-p` w

[2020-10-10 19:13] Naheel-Azawy commented on #163
@monkeyjunglejuice That makes sense now. Great explanation, thank you!

[2021-05-04 07:09] YujiShen opened #182 "Separate link and comment color"
Looks like link/org-link use the color of comment, once I override comment color to a light/low contrast color, like grey, the link  color will also change. But usually we may want the link to be more visible, especially in org-mode. Could we use a different color of link/org-link with comment? It will be nice we could also override that color.

[2021-05-27 04:54] ForrestHilton opened #184 "highlighting of the zsh prompt in *shell*"
highlighting of the zsh prompt in *shell*

The prompt in the shell buffer is not legible due to the highlighting.
![Screenshot from 2021-05-26 23-49-43](https://user-images.githubusercontent.com/52688444/119767879-57504580-be7d-11eb-9724-465e89afafde.png)
The way its done in ansi-term is fine, though the most correct is the way its done on right monitor.

[2021-06-01 19:34] quarkquartet opened #185 "Strange behavior on org-bullets in Doom emacs"
I installed this theme. But in org-mode, the bullet behave like this. The starts appears on the side.
<img width="762" alt="image" src="https://user-images.githubusercontent.com/26316540/120380104-bb945e80-c2ee-11eb-8005-91b05302b191.png">
My emacs is Doom Emacs.
Why this behaviour?

[2021-06-18 20:05] nashamri commented on #182
@YujiShen hello there, can you take some screenshots to make it clearer?

[2021-06-18 20:08] #163 closed

[2021-06-18 20:10] nashamri commented on #178
@duane How did you install it? did you use `use-package` or something similar?

[2021-06-18 20:14] nashamri commented on #184
@ForrestHilton hey there, I'm not sure what face `shell` uses for highlighting? If you are using spacemacs, can you click on the highlighted line and run `SPC h d c` to see the properties of the face.

[2021-06-18 20:36] nashamri commented on #185
@quarkquartet try this `(setq org-hide-leading-stars t)`

[2021-06-27 22:09] YujiShen commented on #182
Sure! Here is the screenshots:
![image](https://user-images.githubusercontent.com/4230496/123560796-7ee34800-d772-11eb-8385-bab6f66a1432.png)

I set `comment` to `#5c6370` and it affects both link in org-mode and the comment in block.

[2021-07-03 16:59] duianto opened #186 "auto-highlight-symbol, new default face, hard to see cursor"
The `auto-highlight-symbol` package has added a new face:
`ahs-plugin-default-face`
https://github.com/jcs-elpa/auto-highlight-symbol/blob/93458049093e902045fde2439bd1aed16d3e631d/auto-highlight-symbol.el#L445

It uses the color: "Orange1" as the background.

This is very close evil normal state cursors color,
which seems to use the face: `spacemacs-normal-face`
`       Background: DarkGoldenrod2`

[2021-07-03 18:02] lebensterben commented on #186
Orange seems to be a very intuitive choice for highlighting.

Maybe we should change evil-normal-state cursor color instead.

[2021-07-06 12:10] #186 closed

[2021-09-23 07:50] dschrempf opened #188 "Org mode `org-headline-done` face"
Newer versions of Org mode change the default face for DONE headlines. The Spacemacs theme should probably provide a sane default face in this case. See also https://github.com/syl20bnr/spacemacs/issues/15055

[2021-09-24 12:21] #188 closed

[2021-09-24 12:24] nashamri commented on #188
Hello @dschrempf thanks for reporting this. I've added two new faces for org todo headlines, and I've turned the `org-fontify-done-headline` off by default.

[2021-09-24 12:25] #185 closed

[2021-09-24 13:28] dschrempf commented on #188
Thank you very much!

[2022-01-14 13:51] idanko commented on #42
**Update Jan 14 2022**
I'm not a spacemacs user and load the package using use-package and straight.el as package manager. After all advice have applied from this thread, I still experience errors like this `(error "Package ‘spacemacs-theme-’ is unavailable")`. Tired from both: a regular and client instance (emacsclient -c).

I came up to the following workaround:
[code]
This way it works for both

[2022-01-14 14:03] nashamri commented on #42
I think this now works too:
[code]

[2022-01-28 13:19] yqu212 opened #191 "[feature request] Add support to tab-line-mode"
Tab-line-mode has been added to emacs since v27. Please add support to it. Thanks.

[2022-01-28 15:19] #191 closed

[2022-03-09 00:52] ForrestHilton commented on #184
Issue was fixed. Probably by you.

[2022-03-09 00:52] #184 closed

[2022-05-12 04:26] nickali commented on #178
Think it would help if there were more specific installation instructions.

For example:  "To install the dark theme, put this in your init.el:

`
(use-package spacemacs-theme
  :ensure t)
(load-theme 'spacemacs-dark t)
`

[2022-05-16 12:03] mczuba opened #193 "cursor colors! a little help."
Hi there guys,

I'm so happy that I found this -- it makes me feel almost at home while using Doom.
The only things that I /really/ miss are the cursor colors.

I'm a little confused -- a lot of others, in their screenshots, seem to be getting the beloved Spacemacs orange/lime green (for N/I modes, respectively) colors for their cursor. In fact, even the second two screenshots in the README are us

[2022-05-16 14:10] nashamri commented on #193
Hello there, @mczuba

I believe you can set the cursor color depending on which state its in by setting these evil variables:
[code]

And the color names in Spacemacs are defined here:
https://github.com/syl20bnr/spacemacs/blob/532ad2567cba1d57d09e102c385315e7cfa829ec/layers/%2Bdistributions/spacemacs-bootstrap/config.el#L83

So, you can do something like this in your config:
[code]

etc..

[2022-05-17 00:37] mczuba commented on #193
Thanks for your help! I don't know what half of those cursors defined in spacemacs are, but it's nice to know that I can look back to this and reference them as I get there.

I got what I wanted (and was asking for above) by adding the following to my config.el:

`(setq evil-normal-state-cursor '(box "DarkGoldenrod2"))
(setq evil-insert-state-cursor '(bar "chartreuse3"))
`
I'm not quite sure what

[2022-05-18 14:03] nashamri commented on #193
Hey there,

`(bar . 2)` sets the cursor to be a 2 pixel-wide bar, to control the shape of the cursor. You can do something like this:
[code]
or whatever you like :smile: To see all the types you can check the variable `cursor-type` (`C-h v` and write "cursor-type").

The code that I mentioned previously in spacemace was just to show you the name of the colors used by spacemacs. Doom and spacemacs

[2022-05-18 14:03] #193 closed

[2022-08-14 15:13] mcfarljm opened #194 "`ansi-color-names-vector` is obsolete"
It appears that with Emacs 28.1 `ansi-color-names-vector` is obsolete. From the help:
[code]
This means that certain colored terminal output (e.g., from `shell`) doesn't get colored according to the colors specified by the spacemacs theme, making it difficult to read.  See also #50.

Judging from the help, it looks like the solution would be for the theme to set the values of `ansi-color-red`, etc

[2022-08-17 16:01] nashamri commented on #194
@mcfarljm Thanks for reporting this. I think it's fixed now. Also, I've pushed a new tag (0.3) for the theme.

[2022-08-17 16:01] #194 closed

[2022-08-26 10:23] AdrienWehrle opened #195 "Compatibility with Emacs 28"
Thanks a lot for this very nice theme I've been using a lot! I recently upgraded from emacs 26 to 28, and unfortunately the theme doesn't work anymore. My debugger doesn't give me very interesting hints... Have you ever tried deploying it on 28?

Thanks a lot in advance for your help!

[2022-08-31 01:52] xgqt opened #196 "[Proposition/Question] Darker modeline by default?"
Hello!

What is your opinion on making the modeline a little bit darker by default?
I myself do not use any modeline extensions, so non-focused window's modeline is practically invisible
(same background as the inacative buffer's background).

![image](https://user-images.githubusercontent.com/47485207/187575185-9ee8a871-a8c8-4510-9f1a-cd43c906f644.png)

Thanks for an awesome theme.